[2015-12-08 05:09] #180 closed

[2015-12-08 05:12] rafaelfranca commented on #151
I believe this idea need to get more traction before we think in including in sprockets by default. Thank you for the suggestion.

[2015-12-08 05:12] #151 closed

[2015-12-08 05:13] rafaelfranca commented on #169
Can you please provide a sample application that reproduces the error?

[2015-12-08 05:15] rafaelfranca commented on #65
It is trivial to get the times from the log right now so I don't think we need the benchmark code.

[2015-12-08 05:15] #65 closed

[2015-12-08 05:44] ordinaryzelig commented on #183
I'm not familiar with the caching system. When you say "invalidate the cache", do you mean invalidating (deleting?) that single cached asset or clearing the entire cache and compiling the entire environment again?

Is it possible to know the difference between a load error similar to this situation vs a legit "oops, forgot to include the gem" situation?

[2015-12-08 05:47] rafaelfranca commented on #183
Clearing the entire cache and compiling the entire environment again.

I don't think so.

[2015-12-08 05:58] ordinaryzelig commented on #183
So rescue load error, invalidate, compile again, retry? If load error happens again, then raise?

[2015-12-08 06:58] Fjan commented on #124
What made you change your mind? I would say saving that many bytes per page is a great reason to keep the option, especially since it's already in there. Is there any particular reason to remove this useful option?

[2015-12-08 09:08] sonalkr132 commented on #177
Link mentioning sample code is broken. [Here](https://web.archive.org/web/20150215103115/http://hackerheart.com/article/2013/02/undefined-method-directory-nilnilclass-while-compiling-rails-assets) is the archived link of same post.

Following error:

seems to be stackoverflow category ([1](http://stackoverflow.com/questions/8041393/rake-assetsprecompile-undefined-method-directory-for-nilnilclass),

[2015-12-08 10:32] johanstenberg92 commented on #165
Hi,

That's what I've end up doing. However it's quite nice to "blacklist" instead of "whitelist", since you might have just one folder you don't want to add and many that you want to add. But it's your call, thanks for responding by the way +1

[2015-12-08 11:03] sonalkr132 commented on #177
However, I can't duplicate the issue with edge rails (sprockets 4.0.0 7c5ff2f ).

My `application.css`:

[code]

Create a broken symlink:
[code]

Compile assets:
[code]

Error reported was:

I tried limiting the access rights as well:
[code]
Again error seemed to be valid:

[2015-12-08 16:52] schneems commented on #124
It's yet another code path to support. I'm not convinced that a few bytes are really what is causing your page to be so slow that a user will abandon it. If you're using something like https://robots.thoughtbot.com/content-compression-with-rack-deflater then those bytes will be even more insignificant. I think this is a performance red-herring.

I haven't looked into overall complexity. If un-depr

[2015-12-08 17:00] schneems commented on #183
I do want to add some better debugging for cases where you've used syntax and forgotten to add an extension for example if you have a `thing.js` and you do something like

[code]

It will error with a cryptic message because you aren't using the `erb` preprocessor.

We should also extend the error messages to point out when a file is errored that is using extensions that haven't been registered.

[2015-12-08 17:02] ordinaryzelig commented on #183
Unless someone beats me, I can make an example repo. I suspect it's dead easy to reproduce with a bare new rails app and following the steps you described.

[2015-12-08 17:04] schneems commented on #176
Love this idea. We should make it easier to write a custom processor https://github.com/rails/sprockets/blob/master/guides/extending_sprockets.md

[2015-12-08 17:08] rafaelfranca commented on #176
@schneems :+1: I have some examples in my own application. I'll write some examples.

[2015-12-08 17:20] schneems commented on #176
Thanks :heart:

[2015-12-08 18:00] schneems commented on #117
There's no good deprecation framework or pattern here. Sprockets was bad at publically letting people know that things were deprecated. Technically it is already deprecated, but there is no notice. Everything is in the legacy.rb file

What I think we want to do is add something like `puts "Method <foo> is deprecated"`. We would want to wait until a beta of sprockets 4 is available and then release

[2015-12-08 18:34] Fjan commented on #124
Perhaps a more principled point can convince you: MD5 is a superior hashing scheme for collision hashes, both in terms of time and space. A programmer who takes his craft seriously should aim for perfection. It is definitely true that you can use a deflater to counter the performance effects of a poor hash choice, but is that really an argument you are proud of?

A less optimal hash (SHA256) was c

[2015-12-08 18:55] rafaelfranca commented on #124
Both Shopify and GitHub are using Sprockets for that purpose. http://githubengineering.com/subresource-integrity/

I really don't want to bikeshed in the hash algorithm that is being used. I don't see any practical reason besides "use what I think is the the most perfect algorithm in the world" to keep this option. I believe that 99% of Sprockets users don't care which algorithm is being used and

[2015-12-08 19:42] Fjan commented on #124
Bike shedding is a term used to describe an argument that hinges on personal preference, it's really not a valid argument against using an objectively more optimal choice. I think that 99% of Sprockets users would prefer the more optimal algorithm given the choice.

Github uses Sprockets for subresource-intergrity, but if you do a "view source" on this very page you will see that most included ass

[2015-12-08 19:49] rafaelfranca commented on #124
Yeah, I want to see that this is why I'm not removing it from Sprockets 4 and waiting for Sprockets 5. If users want to use a different algorithm, they will let us know when we removed it. If they don't care, like I'm supposing, we will not have any complaint and it will be removed.

No, they are not using because subresource-integrity doesn't matter for images only for JavaScript and CSS assets t

[2015-12-08 20:04] Fjan commented on #124
But that's exactly my point: the collision hash and the integrity hash are being conflated. Github is using an integrity hash where it matter: on CSS and JS, but they are forced by sprockets to use it as a collision hash in the URL as well. That might be why they are not serving the majority of their assets through Sprockets (could be other reasons, of course). Even simply doing a chop(55) on ever

[2015-12-08 20:08] rafaelfranca commented on #124
They chose to use SHA256 and I still don't see any reason to change it back to MD5 sorry.

[2015-12-08 20:17] Fjan commented on #124
That github chose SHA256 for two of the assets on this page (and not the other ones) is a compelling reason to include it in Sprockets. It's not an especially good reason to make it the default option. But I completely fail to see how you then arrive at the conclusion that removing MD5 as an option is a good idea.

I'm not sure I can convince you. Please discuss this with your friend at github, or

[2015-12-08 20:33] schneems commented on #124
Can you ELI5 here? I typed in "integrity versus collision hashes" into google and it gave me nothing useful.

I do not think we should be shooting for perfection. We should be shooting for pragmatic, maintainable, sustainable. Sprockets is the titanic right now, we need to patch holes, not polish brass.

I appreciate your contribution of experiences, please lend me those.

In addition to this issu

[2015-12-09 03:11] ordinaryzelig commented on #183
https://github.com/ordinaryzelig/sprockets_stale_cache_app

Instructions in README.

[2015-12-09 09:43] blooper05 commented on #187
@rafaelfranca
Hi! I've created a sample application. https://github.com/blooper05/SAAPE
You can see the error when `rake assets:precompile`. Please check it.

[2015-12-09 09:48] Fjan commented on #124
Hashes can have many different properties (look at wikipedia 'hash function' for a primer), but two are relevant for Sprockets:
- Detect tampering with resources
- Ensure two versions of a resource have different file names

For the first one you want a hash that is long and difficult to calculate. For the second one you want one that is short (so it does not hamper deflate) and has a low chance o

[2015-12-09 18:38] cannikin commented on #157
Any updates on this one? It makes debugging JS and CSS in the web inspector next to impossible when you can't get any help finding the offending code in your own source files.

![](http://g.recordit.co/NqPLFhaEF5.gif)

[2015-12-09 19:16] jeremy commented on #157
Still broken, @cannikin. Nobody's on board to investigate, much less fix it. Please do dig in 😁

[2015-12-09 19:50] cannikin commented on #157
Ohhhh boy! But we're definitely sticking with the source map idea rather than the current (Rails 3/4) behavior of including all JS and CSS files separately while in development?

[2015-12-09 20:21] jeremy commented on #157
Nothing definitive. Reverting to the current behavior is a good option until sourcemap support works as people expect.

[2015-12-09 21:12] schneems commented on #157
Source maps are on my radar, but i'm playing catchup. See: https://github.com/rails/sprockets/issues/124#issuecomment-163009355 for a rundown of where we are right now. Source maps are a pretty big project, it's not like it was done and just has a few edge cases that need polishing. I'm trying to get official time at work to dedicate to source maps, and haven't made much progress there.

[2015-12-09 22:24] cannikin commented on #157
Is it an "easy" matter to revert to the current behavior (individual includes) so in the meantime people running on edge can use the web inspector? Then re-enable source maps in master once they're working properly?

Is a release candidate for Rails 5 being talked about at all? If this can't get fixed by that date then it'll *have* to get reverted, no?

[2015-12-09 22:47] schneems commented on #157
There's no release of sprockets 4 so there's nothing to revert. Master branch is a WIP. I would recommend using Sprockets 3.

[2015-12-09 22:54] cannikin commented on #157
Oh damn, that worked! I assumed edge `rails` required edge `sass-rails`, which requires edge `sprockets`. Gemfile now looks like:

[code]
Thanks!

[2015-12-09 23:13] schneems commented on #157
:rocket:

[2015-12-12 11:15] amw commented on #74
I have upgraded my project again and I'm no longer able to reproduce this issue.

Just to be sure I've added a Capistrano deploy task that verifies digests match after each assets compilation. If I ever run into this issue again I will let you know.

[2015-12-12 13:15] andreynering commented on #187
I think this comment on the uglifier issue should explain everything: https://github.com/lautis/uglifier/issues/89#issuecomment-164145828

I will try to take a look at it this week (e.g. check if any of the files is ES6). It makes sense that the uglified version work on Chrome/Firefox since they already support most ES6.

Since it isn't related to sprockets, feel free to close this issue if you wa

[2015-12-14 11:09] andreynering commented on #187
I can confirm this issue happened because of accidental ES6.

I could solve it by appending `.js.jsx` on some JS files, since it will convert ES6 to ES5. (This works because of [this gem](https://github.com/reactjs/react-rails)).

I am closing this since this isn't a sprockets issue. But I think maybe it would be nice to include babel by default to prevent this kind of problems.

[2015-12-14 11:09] #187 closed

[2015-12-15 17:08] #63 closed

[2015-12-15 18:05] vicocamacho opened #202 "Should the gem gzip the SVG files?"
Today i upgraded my Gemfile to use the new gzip feature and when i precompiled it also gzipped my svg files (which made the website stop showing this files), im just curious if this is the desired behavior?

Thank you.

[2015-12-15 18:16] fxn commented on #202
If the client does not ask for a compressed resource, you'll get the plain SVG, it it asks, it will get the compressed one either from disk or compressed on the fly.

That is, in theory this feature shouldn't make a difference on the client side.

Why is the website not showing these files?

[2015-12-15 18:24] schneems commented on #202
Pretty sure gzipping SVG files is fine: https://css-tricks.com/snippets/htaccess/active-gzip-compression/

The server should only deliver a GZIP file if the browser supports it. When they do they will set `accept-encoding` https://github.com/rails/rails/blob/1ad94e760d7a0f4288fb6d29114176b2e5dde250/actionpack/lib/action_dispatch/middleware/static.rb#L85 to include `gzip`. The browser should then s

[2015-12-15 19:12] vicocamacho commented on #202
Sorry, my bad. It was a server misconfig that was messing up with the SVG files, thank you so much for the directions and for all your work in OSS. :smile:

[2015-12-15 19:12] #202 closed

[2015-12-15 19:17] fxn commented on #202
:+1: thanks for the followup!

[2015-12-15 19:22] schneems commented on #202
Thanks all :heart:

[2015-12-22 20:15] tyler-vincent commented on #84
We're seeing this slowdown as well on a large app that was just upgraded from Rails 3.2 to 4.2 with `config.assets.debug = true`. Oddly the CSS compilation doesn't seem to affect performance much because we're using SASS and @import statements to create one `application.css` file.

The JS file calls murder the speed though. It seems like each 304 return from the server is taking a really long time

[2015-12-29 20:56] schneems commented on #157
I tested this app out with my branch https://github.com/rails/sprockets/pull/206. Cleared `tmp/cache` and I'm getting all the correct files generated. I tried adding a CSS file and it doesn't show up, there seems to be a problem in the directive processor source maps.

[2015-12-29 21:02] schneems commented on #157
Strike that, needed to clear the cache again and it worked. I'm worried that there is so much cache clearing needed. Looks like my branch works? Can you give it a try on your app and report back?

[2015-12-29 21:06] rafaelfranca commented on #157
I think you can automatically clear the cache of you bump the version of
the preprocessors.

On Tue, Dec 29, 2015, 19:03 Richard Schneeman <notifications@github.com>
wrote:

[2015-12-29 21:10] schneems commented on #157
I added a file to a running sprockets process

[code]

When I refreshed the page, the change was in `application.css` but the source map didn't change. I would have expected that a change in the dependencies of `application.css` would have forced a new source map compile, maybe it was browser caching though? Restarting and clearing `tmp/cache` fixed.

[2016-01-01 22:46] jeremymarc commented on #74
had the same issue: when deploying to production, the digest was incorrect for my application.js file.
I fixed it by disabling uglifier mangle:

[code]

[2016-01-01 22:57] amw commented on #74
Mangling can shorten the code by quite a lot. I'm pretty verbose when naming variables and arguments. I'd rather get to the bottom of this issue than disable mangling. Fortunately my environment seems to be alright now.

I have a Capistrano task that checks asset digests during each deploy. Maybe you'll find it useful: https://gist.github.com/amw/895ff841e71b800f255f

[2016-01-02 16:23] mikem opened #209 "Couldn't find file when using require_asset"
I have an app using the [react-rails](https://github.com/reactjs/react-rails) gem. That gem [registers the `application/jsx` mime type and engine](https://github.com/reactjs/react-rails/blob/3b21569f5defb1705172c4a9a09b6ed0a1a9d38e/lib/react/rails/engine.rb#L7-L8) as follows:

[code]

I can successfully load JSX files if I use `require` directives in another JS file, but it doesn't work if I use `

[2016-01-03 07:02] pravi commented on #169
@rafaelfranca rails-assets-favico.js fails with sprockets 3.3 (sprockets-rails 2.3.2) but worked with sprockets 2.12 (sprocket-rails 2.1.3)

You can reproduce this with this simple code

[code]

[2016-01-04 22:55] bradly opened #210 "Question on the run order of engine processing"
I've added a custom engine but I'm having trouble understanding the run order of the engines.

I've added a file app/assets/javascripts/donuts.js.jsx.coffee.hsx and it does get processed by the new engine, but I'm trying to make sure my custom engine get processed first. My assumption was that the engines are ran starting at the right most extension moving to the left, but that doesn't seem to be

[2016-01-04 23:02] rafaelfranca commented on #210
Could you please post your question in the Rails core mailing list? We reserve the issue tracker only for issues.

[2016-01-04 23:02] #210 closed

[2016-01-05 18:39] pravi commented on #169
Sorry, this should be #75

[2016-01-05 23:42] stephanfriedrich opened #212 "Error encountered while saving cache ... can't dump anonymous class"
Hi I updated my gems. now i get an error in production env like:
[code]
my gems list:
   * sass-rails 3.2.6
   * sass 3.4.20
   * sprockets 2.2.3
   * rails 3.2.22

**what can i do to fix this, which sprocket version works with sass ?**

there are equal issues
   * https://github.com/sass/sass/issues/1144
   * https://github.com/sstephenson/sprockets/issues/507

[2016-01-06 00:02] rafaelfranca commented on #212
Can you please provide a sample application that reproduces the error?

[2016-01-06 00:21] stephanfriedrich commented on #212
Oh thx for your quick response.

here is my application on github: https://github.com/stephanfriedrich/kalender
hope this helps.

*btw i am no a goog ruby/rails programmer, sorry for my bad written code ;)*

[2016-01-06 00:48] rafaelfranca commented on #212
I used you code and it is working fine. Try to clean the sprockets cache.

[2016-01-06 00:48] #212 closed

[2016-01-06 10:59] tf commented on #73
Any update here?

[Discourse](https://github.com/discourse/discourse/blob/master/vendor/assets/javascripts/loader.js) seems to be using some vendored variant of [ember-cli/loader.js](https://github.com/ember-cli/loader.js) to be able to transpile to amd modules. I really think Sprockets should provide something like this out of the box. Otherwise one will always have to install additional componen

[2016-01-06 11:22] tf commented on #73
While looking at [maccman/sprockets-commonjs](https://github.com/maccman/sprockets-commonjs), I realized there are two more aspects that would need to be addressed:

* How can we prevent having to also `//= require` files to ensure they end up in the bundle?
* Webpack is really well integrated with npm to import modules from third party packages. Is there anything sprockets might be able to offer

[2016-01-07 18:34] schneems commented on #157
I've got no known blockers for source maps. What do you think next steps should be? Merge that branch, cut a pre-release and get people trying it?

[2016-01-07 18:41] rafaelfranca commented on #157
Seems like a great plan :+1:

[2016-01-10 09:01] fletcher91 commented on #73
@tf My first thought of preventing double requires would be to let sprockets be aware of the package.json convention, aka adding npm as a source for JavaScript dependencies.

[2016-01-10 15:15] Pitometsu opened #213 "undefined method `register_engine' for nil:NilClass (NoMethodError)"
Gemfile.lock
[code]
config/environment.rb
[code]

[2016-01-10 15:37] Pitometsu commented on #213
Fixed removing this line and re-run `rails g simple_form:install`.

[2016-01-10 15:37] #213 closed

[2016-01-10 15:49] tf commented on #73
I'm not sure I agree. From my perspective, one of the main advantages of the asset pipeline comes from packaging up assets along with other Rails app components in gems and not having to deal with two package managers. If I was to use npm anyway, I do not see much value over switching to the js ecosystem completely and using webpack directly.

[2016-01-10 18:16] fletcher91 commented on #73
Yeah, I think assets from other parts of Rails should definitely be accessible. But having to [repackage every](https://rails-assets.org/) JS lib in a gem, or completely switching just to be able to use npm packages is also quite cumbersome.

I was thinking more of a sprockets implemented `require('foo')` that enables people to replace all `//= require foo` calls. It would check the assets directo

[2016-01-11 18:13] blackjid commented on #17
hey @josh would you share the environment initializer you mention [here](https://github.com/rails/sprockets/issues/17#issuecomment-87486010) thanks!

[2016-01-12 20:44] joshjordan opened #216 "Support something like depend_on_tree"
https://github.com/sstephenson/sprockets/issues/567 was not resolved, reopening here. Apologies if this is the wrong place for it.

[2016-01-12 21:21] matthewd commented on #216
This seems like a legitimate use case in principle... assuming that implementing it doesn't add too much complexity.

[2016-01-14 19:00] rn2dy opened #218 "let sprockets transform .html to javascript template"
I need to let sprocket process `.html` file and output mime type as `application/javascript`, so it can be used as a javascript template. I did something like this:

[code]
However when sprockets process a `.html` file it will always interpret the file as `text/html` (as it suppose to be). I am not sure if this is the reason why `MyTemplateProcessor` was not called (does sprockets map mime type to

[2016-01-14 19:02] rafaelfranca commented on #218
Use:

[code]

[2016-01-14 19:02] #218 closed

[2016-01-14 23:03] rn2dy commented on #218
Thank You! That resolved my problem.

[2016-01-17 23:14] redox commented on #84
@mib32 did you manage to reproduce something?

[2016-01-18 13:35] searls commented on #209
Hey @schneems--would you have time to look at this with me this week?

[2016-01-18 13:35] searls commented on #209
Argh, @schneems

[2016-01-18 14:28] mikem commented on #209
I believe the commit above is a failing test for this issue. It looks like the issue might actually be that the argument to `require_asset` includes the original suffix. This is [what jasmine-rails does](https://github.com/searls/jasmine-rails/blob/ea97098844bef373470739f2927e895450e5e9a9/lib/assets/javascripts/jasmine-specs.js.erb#L12). In my test case above, if I `require_asset 'noformat'` then

[2016-01-20 10:54] vincentwoo commented on #157
@schneems seconded, would love to begin hammering source maps for bugs :)

[2016-01-20 19:17] schneems commented on #209
@searls ACK, sorry for the delay. This week is looking pretty tight. Not sure if i'll have time, can definitely set aside some next week to dig in.

[2016-01-24 18:11] gregblass opened #229 "Sprockets 3.0.0 breaks web fonts"
After upgrading sprockets from 2.3.3 to 3.0.0, none of my web fonts are loading. I was using this code:

    @font-face {
      font-family: 'derp';
      src: font-url('derp.eot');
      src: font-url('derp.eot?#iefix') format('embedded-opentype'),
           font-url('derp.woff') format('woff'),
           font-url('derp.ttf') format('truetype'),
           font-url('derp.svg?#derp') format('svg

[2016-01-24 18:16] rafaelfranca commented on #229
You don't need the line with `Rails.application.config.assets.paths << Rails.root.join('vendor', 'assets', 'fonts')`. Could you remove that and see if that fix your problem?

[2016-01-24 18:24] gregblass commented on #229
That doesn't seem to make any difference.

[2016-01-24 18:34] rafaelfranca commented on #229
Thank for confirming.  Can you please provide a sample application that reproduces the error?

[2016-01-27 09:13] dex1t opened #230 "Couldn't find the specified file on `app.config.assets.precompile` option"
I specified `foo/bar.svg` as precompile target. however v3.5.2 couldn't find `bar.svg`.
[code]
gem's versions are here:
rails (4.2.5.1)
sprockets (3.5.2)
sprockets-rails (3.0.0)

[2016-01-28 14:10] rmosolgo opened #231 "Combining engines and transformers? (CoffeeScript and JSX)"
Hi there,

Thanks for all your work on Sprockets 3! I've been learning a lot about the changes and it looks like the system is becoming a lot stronger.

I'm trying to fix a bug with `react-rails` but I'm not sure where to go next. The issue is with `.js.jsx.coffee` files (:weary:), apparently `#= require` directives are being ignored.

Here's some relevant info I found:
- In a `.js.jsx.coffee` fil

[2016-01-28 20:21] schneems commented on #231
Is this the same issue as https://github.com/rails/sprockets/issues/209 ?

[2016-01-28 20:26] schneems commented on #230
You need to add `foo` to the paths

http://stackoverflow.com/questions/14735635/add-folder-to-asset-pipeline-path

[2016-01-28 20:32] rmosolgo commented on #231
I don't think so. I think that other issue had to do with requesting asset by its _original_ file extension. If I understand correctly, `require_asset("my_file.js.coffee")` behaves differently in Sprockets 2 vs Sprockets 3. In Sprockets 2, it _does_ apply transformation, but in Sprockets 3, it _doesn't_ apply transformation.

Of course, the new behavior makes a lot more sense, but it broke some co

[2016-01-28 20:39] #230 closed

[2016-01-28 20:44] dex1t commented on #230
Thanks. I'll try it. :runner:

[2016-02-02 15:12] choonkeat commented on #179
Can we open this? I'd suggest a small tweak

[code]

by just showing me what file we're talking about.. this had helped me track down several errors (js came from some theme which had barfed utf8 and other weird cases).

cc @djvs

[2016-02-05 20:43] rmosolgo commented on #209
I noticed this in [UPGRADING.md](https://github.com/rails/sprockets/blob/master/UPGRADING.md):

So, I think it's a breaking change, but I understand why it works that way! (And it seems better overall.)

[2016-02-09 04:29] modosc commented on #157
@schneems

in chrome this has been the case for some time - you have to explicitly close and reopen developer tools to get fresh source maps. it looks like they just started to fix it:

https://code.google.com/p/chromium/issues/detail?id=508270

[2016-02-14 15:24] xw19 commented on #216
I would like to work on it but I need mentoring to be able to solve this

[2016-02-14 19:20] joshjordan commented on #216
@matthewd would a PR for this feature be accepted, assuming, as you said, it is relatively low complexity?

[2016-02-17 22:16] bronson opened #242 "RuntimeError - can't add a new key into hash during iteration"
Got this backtrace in development mode while using my app...   Haven't managed to reproduce it though, tried a few times, both with and without clearing the cache first.

[code]

[2016-02-19 16:58] schneems opened #245 "Loading file by absolute path not in load path should raise error"
Trying to load

[code]

When the environment is set to

[code]

Should raise an error.

[2016-02-21 00:47] toy opened #246 "Non js/css compressors are ignored"
If I want to add a compressor for jpeg asset, then it seems logical to just register it using `register_compressor 'image/jpeg', :jpeg_compressor, JpegCompressor`.
But this doesn't work as just registering compressor doesn't add it to pipeline. Adding to pipeline happens only when calling `css_compressor=` or `js_compressor=` and only for css and js.
Is there a plan to make compressors work for ot

[2016-02-22 23:12] schneems commented on #246
So, IDK. I inherited this project. I think you could make your own "compressor" with a transformer, check out https://github.com/rails/sprockets/blob/master/guides/extending_sprockets.md. Let me know if you've got questions, it's a WIP. If not, what does a "compressor" do that a "transformer doesn't?

What version of sprockets are you using, you should try on at least 3.3.x

[2016-02-22 23:15] rafaelfranca commented on #246
compressors are only for JavaScript and CSS. We should make the documentation clear.

You can make your own JPG compressor using processors. Here is an example https://github.com/byroot/sprockets-svg/blob/master/lib/sprockets/svg.rb#L27

[2016-02-23 18:12] modosc opened #247 "directive to prevent file from being cached"
we are using `3.5.2` and have a js file like this:
[code]
this file is being cached and doesn't change when my local rails environment changes between `development` and `test`. i've worked around this by running `rake tmp:cache:clear` before and after each test run but i happen to know this is happening and can work around it - i expect many people wouldn't notice and might be suffering from side-

[2016-02-23 18:16] rafaelfranca commented on #247
Dup of https://github.com/rails/sprockets-rails/issues/325

[2016-02-23 18:16] #247 closed

[2016-02-23 18:16] modosc opened #248 "add a Sprockets::Cache#clear method"
is there any interest in this? initially i ran into a problem and reported it [here](rails/sprockets-rails#326) but since it's possible to set `assets.cache` to an arbitrary class it would be nice to add a high level `#clear` method that will try to proxy the call through to the underlying store (of course this means implementing this in the various stores as well).

is there a reason this functio

[2016-02-23 18:20] rafaelfranca commented on #248
Could you explain why that is needed? We usually avoid to clear the cache. Your problem can be fixed having separate cache per environments and that is what we had in sprockets-rails 2.

[2016-02-23 18:24] modosc commented on #248
separate cache per environments would definitely solve rails/sprockets-rails#325 - the other issue i'm running into is while i'm working on porting various processors to sprockets 3/4. i do a test assets build, make a code change, then run it again but the previously built asset is already compiled so i have to clear the cache. `rake tmp:cache:clear` works but that's (i think) only because i'm usi

[2016-02-23 18:29] rafaelfranca commented on #248
I see. Make sense to me.

[2016-02-23 18:48] modosc commented on #248
ok, i'll get a pr together. thanks!

[2016-02-24 21:55] carols10cents opened #251 "Unexpected require path, given the current documentation"
This might just be a documentation issue, but this left me pretty confused. So here's a dramatic re-enactment of what happened:

- I created a brand new Rails 4.2.5.1 app, which got me sprockets 3.5.2 (https://github.com/carols10cents/sprockets-test-app/commit/ad4b57037bf64bb6d2949ae8b7f33e99f7e9c668).
- I read the comment at the top of app/assets/javascripts/application.js, which says:

[code]

-

[2016-02-24 22:04] carols10cents opened #252 "Add more context to Sprockets::FileNotFound error messages"
Sort of related to https://github.com/rails/sprockets/issues/251. If the error messages I had gotten had included more information, perhaps it wouldn't matter that the documentation hadn't helped me.

This is with a brand new rails 4.2.5.1 app and sprockets 3.5.2.

The relevant part of that issue to this issue is that I had a file in `app/assets/other_javascripts/f.js` (a sibling directory to `app

[2016-02-24 22:13] schneems commented on #251
I think this is because `other_javascripts` folder isn't registered in the load path, which is silly because you're telling it EXACTLY where it is. I think this is done to prevent unintentional file access. We should add something like

[code]

To the error message.

[2016-02-24 22:14] schneems commented on #251
You can add a load path like this http://stackoverflow.com/questions/14735635/add-folder-to-asset-pipeline-path

[2016-02-24 22:24] matthewd commented on #251
@schneems it is in the load path -- that's why a straight `f` will find it.

Enumerating the paths we searched would certainly clarify the behaviour, but might be quite the flood of information: in an average setup, there are a *lot* of directories on the load path.

One thought: what if we enumerated the logical path to every known asset with a matching basename? (only in `debug`, of course)

So

[2016-02-24 22:25] carols10cents commented on #251
Hi @schneems !

If `other_javascripts` isn't in the load path, why DOES sprockets find `other_javascripts/f` if I just say `require f` (see https://github.com/carols10cents/sprockets-test-app/commit/cb1315e645e5f2118776caf62b6667f7cbe323b5)? That's not preventing unintentional file access at all :(

I totally agree :) https://github.com/rails/sprockets/issues/252

[2016-02-24 22:26] carols10cents commented on #251
That would also be incredible :)

[2016-02-25 07:27] modosc commented on #157
i've been trying to get this to work locally. in `debug` mode it does but when i do things in production mode  (ie compile: false,  compress / precompile) no source maps are written to the file system. i found a few specific issues:

1) i managed to get source maps created by modifying `UglifierCompresser#call` to add a link to the sourcemap:
[code]

i could do this for the other compressors that

[2016-02-26 23:59] mockdeep commented on #73
Would love to see node-style requires in sprockets proper. We're using [browserify-rails](https://github.com/browserify-rails/browserify-rails) right now and slowly moving our sprockets requires over to node style with `module.exports`. So far we've been pretty happy with this approach (aside from the compile times...) and it seems like functionality that would make sense to have in sprockets itse

[2016-03-03 11:11] jekuno commented on #229
Does `rake --trace assets:precompile` produce any warnings or errors?

[2016-03-03 19:47] schneems commented on #229
Could you give us a small example app that reproduces the problem?

[2016-03-03 19:49] gregblass commented on #229
I was able to fix this, but I can't quite remember what I did to do it. I think it was a combination of assets:precompile, clearing the cache in my browser, and adding #djrig4, or some random extra bit to the file. So not a sprockets problem after all.

[2016-03-03 19:49] #229 closed

[2016-03-04 03:46] imechemi opened #260 "text/x-handlebars MIME Type not supported in sprocket"
Hi, after upgrading rails from **4.2.4** to **4.2.5.1**, the sprocket gem also got updated from 3.4.0 to 3.5.2. And my application broke when it has to load .hamlbars file from assets.

The backtrace from app ends at this [line](https://github.com/rails/sprockets/blob/v3.5.2/lib/sprockets/legacy.rb#L111) from sprocket when the `text/x-handlebars` mime type is not found.

Below are the MIME types I

[2016-03-04 12:50] schneems commented on #260
If you downgrade you sprockets version does it work again?

[2016-03-04 16:29] imechemi commented on #260
Yes instead I downgraded sprocket-rails to 2.2.3 and it worked. It was not sprocket issue I think.

[2016-03-04 19:28] schneems commented on #260
Can you try with the latest version of sprockets-rails 3.0.4? If that doesn't work can you open an issue there? It would help to have a small app that reproduces the problem.

[2016-03-04 20:09] rafaelfranca commented on #260
This seems like `handlebars_assets` incompatibility with sprockets-rails 3.

[2016-03-04 20:12] schneems commented on #260
Do we know what it is? Would it help to add deprecation warnings in sprockets 2?

[2016-03-04 20:15] rafaelfranca commented on #260
I don't think so, we didn't changed the mime-type API so it seems just like a code bug in handlebars_assets or maybe the applications is just using a wrong version of the gem.

[2016-03-07 05:05] imechemi commented on #260
@rafaelfranca Sorry for my late reply, I am using an older version of handlebar_assets-0.14.0 in my Gemfile and I cannot update that since I have a dependency locked from another gem. May be If I could update the handlerbar_assets, It might work with latest version of sprocket-rails.

So for now I have kept my sprocket-rails version to 2.2.3. And that didn't break anything.

@schneems  It would be

[2016-03-07 15:51] gravitystorm opened #261 "Incorrect upgrading link in 3.x changelog"
In the [3.x changelog](https://github.com/rails/sprockets/blob/3.x/CHANGELOG.md) under 3.0.0 there is a link to [https://github.com/rails/sprockets/blob/master/UPGRADING.md](https://github.com/rails/sprockets/blob/master/UPGRADING.md) . However, this url is now the guide to upgrading from 3.x to 4.x.

I think the correct thing is to patch the 3.x branch so that that link points to [https://github.

[2016-03-07 15:54] #261 closed

[2016-03-07 15:54] rafaelfranca commented on #261
Fixed

[2016-03-08 16:36] kaukas commented on #242
I am experiencing this as well. It is not consistent but I can rarely compile all assets without getting it at least once.

Looks like some kind of a race condition to me. We have a lot of small files. Perhaps the more files you need to compile the more likely you are to get this error. The code in sprockets `loader.rb` file performs a lot of in-place modifications. Maybe some other thread is iter

[2016-03-10 18:58] GBH commented on #210
@bradly have you figured this out? I didn't find your question on rails core mailing list. I'm having a similar issue.

[2016-03-11 09:51] hakunin opened #262 "couldn't digest ActiveSupport::StringInquirer"
Hi,
I am getting this strange issue and none of my co-workers have it on the same codebase.

I am able to get to the root of it, thanks to better errors - I can see that there is "development" there, which is from Rails.env (ActiveSupport::StringInquirer instance) but I have no idea how it got there, or how to debug / fix this.

Also, I found that foreman had this issue as well:
https://github.com

[2016-03-11 14:16] rafaelfranca commented on #262
Which Rails version are you using? Which sprockets-rails version are you using?

[2016-03-11 18:41] bradly commented on #210
@GBH No, unfortunately I was not able to get this sorted and ended up scraping the approach.

[2016-03-11 23:26] dcroper opened #263 "File paths with square brackets are not handled correctly when precompiling assets"
When precompiling assets, if the directory path to the asset contains square brackets (or any other special character I assume) uri_utils.rb raises an error stating the URI is invalid. Modifying uri_utils.rb to escape square brackets using URI.escape(uri, '[]') in split_file_uri allows the precompile to succeed (unfortunately URI.escape(uri) does not escape square brackets). As I am not familiar w

[2016-03-14 14:28] hakunin commented on #262
Sorry, somehow I overlooked the notification. Its
[code]

[2016-03-14 15:17] rafaelfranca commented on #262
Could you check if cleaning the sprocekts cache fix the issue? `rm -Rf tmp/cache/assets`

[2016-03-14 15:46] hakunin commented on #262
Hah, I thought I did that already, but apparently not. That fixed my problem, thanks!

[2016-03-14 15:46] #262 closed

[2016-03-15 00:33] jasnow commented on #117
@schneems - Should this still be open?

[2016-03-16 16:42] schneems commented on #117
I'm starting to look into deprecations now. I have a branch for deprecations https://github.com/rails/sprockets/pull/264. We can merge other deprecations into that branch like https://github.com/rails/sprockets/pull/265 and when Sprockets 4 is out we can cut a deprecation release of Sprockets 3.

[2016-03-17 17:51] tylerball opened #266 "environment.unregister_processor doesn't unregister processor"
I have a simple directive processor that looks for javascript in some non-standard directories. I followed [this comment](https://github.com/rails/sprockets/blob/f7bfd95445d648da766755388f6085b77a79ad25/lib/sprockets/directive_processor.rb#L155-L176) in my implementation.

    class JsDirectiveProcessor < DirectiveProcessor
      def process_npm_directive(path)
        uri, deps = @environment.res

[2016-03-17 20:09] JDutil commented on #262
I've been running into this occasionally with some co-workers since upgrading to `rails 4.2.6`, `sprockets 3.5.2`, `sprockets-rails 3.0.4`. The problem tends to pop up after switching branches or modifying asset files.

We never experienced this until updating to the latest sprockets, and it's getting pretty annoying however removing `tmp/cache/assets` does temporarily fix the problem.

[2016-03-17 20:12] rafaelfranca commented on #262
The problem is that sprockets-rails < 3.0.4 is being polluting the cache with wrong values that was fixed with sprockets-rails 3.0.4. Make sure that all your branches will be using sprockets-rails 3.0.4, clean the cache and this will never happen again.

[2016-03-17 20:18] huoxito commented on #262
@rafaelfranca removing / cleaning up the rails-app/tmp dir doesn't fix it for long, I've removed it many times today alone and the issue keeps coming back, setting `assets.debug` back to true seems to make the issue go away. I'll try to gather more info and will post here if it keeps happening even with `assets.debug` true

[2016-03-17 20:19] rafaelfranca commented on #262
Are you sure that you always run the code using `sprockets-rails 3.0.4` after you cleaned the cache?

[2016-03-17 20:21] tylerball commented on #266
Interestingly, iterating through all the DirectiveProcessors seems to work: https://github.com/tylerball/sprockets/commit/6f4d41651c48fea8e3c07473fc6089bc90ac085e

[2016-03-17 20:23] rafaelfranca commented on #266
Yes. The reason that iterating though all the processors work is that in one you are passing the instance of `DirectiveProcessors` as argument and in other you are passing the class `DirectiveProcessors`. Since `unregister_processor` is not smart enough you have to pass the same object that is inside the list, and in this case it is an instance of `DirectiveProcessors`.

[2016-03-17 20:34] huoxito commented on #262
I'm not sure if this is the proper answer for that question but this is all I have sprockets related on Gemfile:

[code]

I do have other versions installed locally but I trust bundler is loading the right one:

[code]

It could be latest sprocket plus something specific to this particular rails application since it's happening pretty often in dev mode (whenever assets, apparently css files mostly

[2016-03-17 20:40] rafaelfranca commented on #262
To try to help you what were writing `StringInquirer` in the cache was removed in this commit https://github.com/rails/sprockets-rails/commit/9a61447e1c34ed6d35c358935bcae4522b60b48d#diff-b295f4f07d2e863f15e53eb2047cfd1fR116.

[2016-03-20 23:09] Insood commented on #136
I had the same issue. Was caused by developing inside of a dropbox folder.  Apparently dropbox and rails may sometimes try to read from the same file at the same time leading to issues.

[2016-03-21 09:02] daniel-rikowski commented on #136
Yes, that makes sense: When working with CSS the Sprockets cache files often change, triggering a Dropbox update which in return is likely to block the following cache reads.

Note that Sprockets is not just simply reading the file, it *touches* (i.e. changes the timestamps) them on every read.

[2016-03-21 15:32] rstacruz commented on #216
I'd really appreciate this!

[2016-03-24 02:47] abiacco opened #267 "way to disable gzip for assets precompile in sprockets 2?"
i'm using sprockets 2.12.4 to precompile assets to be served by apache. I'm trying to disable the gzipping of the assets but can't find a setting to accomplish this.
It seems like there's an option for this in 3.x, but 3.x versions make my precompile take 3x longer than with 2.x.
Any help is appreciated.

[2016-03-24 02:52] rafaelfranca commented on #267
There is no way to do that with sprockets 2. I recommend you to upgrade to sprockets 3 as soon as possible. As you found performance problems we would love that you report them so we can fix it and your upgrade path is smooth as possible.

[2016-03-24 02:52] #267 closed

[2016-03-24 02:53] schneems commented on #267
You can't. That I know of. Why do you want to disable gzip asset generation?

[2016-03-29 02:13] matthewlehner commented on #156
@rafaelfranca I'd like to re-open this long-dead issue (is this okay?) I can open a new issue if that's preferable.
I've recently had some more time to dig in here and am getting the same error in a vanilla Rails app with the following gems:

[code]

To reproduce, clone https://github.com/matthewlehner/sprockets-es6-mime-failures

I've tried to keep this as minimal as possible, and have only added

[2016-03-29 02:28] rafaelfranca commented on #156
It is fine. I'll take a look.

[2016-03-30 12:43] Strech commented on #209
I confirm. I have the same problem with `js.jsx` files and `react-rails 1.6.x`. They are not compiled with sprockets 3.x, but compiled with 2.x. I will try to give more information I found but right now everything is similar to issue description - application/jsx is not being transformed.

[2016-03-31 11:01] kinnalru opened #269 "Slim processor does not work with JST"
sprockets-rails 2.3.3 version works well with slim temapltes in assets. For example with app/assets/snippets/onlinetv.jst.ejs.slim

But sprockets-rails 3.0.4 does not.

[2016-03-31 15:19] rafaelfranca commented on #269
Sprockets doesn't have a Slim processor by default. If you are using a gem to add this processor maybe this gem needs to be changed to work with latest sprockets.

[2016-03-31 15:19] #269 closed

[2016-04-01 08:37] vincentwoo commented on #157
@schneems ping! Would love to know if you've had the time to work on sprockets recently, and source maps more specifically.

[2016-04-01 16:10] rafaelfranca commented on #157
@vincentwoo have you tried the sprockets 4 betas?

[2016-04-02 01:47] vincentwoo commented on #157
When trying to use the latest betas of sprockets (I also had to use 6.0.0.beta1 for sass-rails, too), I get the following error when my view tries to render and `image_tag`:

[code]

[2016-04-03 07:43] lxsameer opened #270 "Marks each file content on manifest bundle"
Hi

I wrote a piece of code which marks each file content on the final manifest data. For example in case of a  stylesheet manifest it injects a line before content of each file like this:

[code]
and later ( precompile time) when any syntax error happens (using sass) i use it to specify the exact location of error. It is pretty handing specially when sass just complain about the syntax error and

[2016-04-03 07:48] rafaelfranca commented on #270
Please don't ask question in the issue tracker. Sprockets can define processor based on the type of asset. You can use that to implement the processor to mark the the files.

[2016-04-03 07:48] #270 closed

[2016-04-03 07:59] lxsameer commented on #270
@rafaelfranca thanks , but where is the appropriate place for such questions ?

[2016-04-04 15:50] schneems commented on #270
You can try stack overflow, or the Ruby on Rails mailing contributor mailing list. It might be better if you can ask it as a specific problem. I tried this code <example> and it does not work because of <error>. and focus on resolving the error.

[2016-04-04 15:57] schneems commented on #157
This is because sprockets can't split the file name any better. I tried to change this, but it was too expensive. Maybe it's possible but I gave up.

I'm not a big fan of how sprockets uses URIs to store all data about an asset and then parses that URI, it seems slow but I haven't had any time to look into implementing an alternative. It's also so baked into everything I don't think there's a viab

[2016-04-04 16:02] schneems commented on #269
Open an issue with the maintainer of the slim processor, maybe show them this documentation https://github.com/rails/sprockets/blob/master/guides/extending_sprockets.md#supporting-all-versions-of-sprockets-in-processors

[2016-04-06 11:10] liseki opened #273 "Sprockets 4 and MIME types"
I have been trying out Sprockets 4.0.0.beta2 and I have noticed if you have the following app.coffee:
[code]
and ```constants.js``` exists in the load paths, resolve will fail since Sprockets assumes the file directives in ```app.coffee``` will be of MIME type ```text/coffeescript```. I came across this behaviour in my rails app and while running the [teaspoon](https://github.com/modeset/teaspoon/

[2016-04-06 13:45] schneems commented on #273
I don't totally follow, can you give me a minimal example app that reproduces the problem?

[2016-04-06 14:58] jeremy commented on #273
Requiring constants.js in app.coffee means Sprockets would need to compile JS → Coffee. Technically this is possible, but Sprockets doesn't support it. We could wrap the JS in backticks and call it Coffee. Or support something like js2coffee.

This probably isn't what you expected, though! I wager you're thinking that app.coffee will eventually turn into JS, so requiring a .js file within it will

[2016-04-06 16:32] schneems commented on #273
What was the error you were getting? Maybe there is a way to better surface and expose the underlying behavior? The application wrapper is a good idea, but maybe not intuitive. I wonder how we could encourage people to do the right thing?

[2016-04-06 17:09] schneems commented on #156
Any luck?

[2016-04-06 17:49] rafaelfranca commented on #27
Closing since there were no activity since my last comment asking for confirmation in the master branch. Let me know if it still happens in master so I can reopen. Thanks

[2016-04-06 17:49] #27 closed

[2016-04-06 17:52] #30 closed

[2016-04-07 04:02] 3den commented on #183
I have the same problem, adding `coffee-rails` gem fixes the issue but it sucks that we need coffeescript

[2016-04-07 04:43] rafaelfranca commented on #183
@3den you don't. Clear the cache and it will work without coffee-script. Please read the comments in this thread.

[2016-04-07 19:26] 3den commented on #183
@rafaelfranca I tried `rails tmp:clear`, `rails tmp:sockets:clear` and `rails tmp:cache:clear`... Even after that it fails because of coffescript.

[2016-04-07 19:27] rafaelfranca commented on #183
Can you please provide a sample application that reproduces the error?

[2016-04-08 11:52] liseki commented on #273
Thank you @jeremy and @schneems!

Indeed the wrapper ```application.js``` that Rails uses by default takes of care of that. However I had run into an issue with ```Rails 4.2.5``` and ```Sprockets 4.0.0.beta2``` in the following set up:
[code]

[code]

[code]

Here Sprockets raised a ```Sprockets::FileNotFound``` error with the message "_couldn't find file 'utils' with type 'application/ecmascript-

[2016-04-08 11:52] #273 closed

[2016-04-11 13:54] leftis commented on #263
i have the same issue, image with square brackets on name.

[2016-04-14 12:49] martinpovolny commented on #242
Same for me:
[code]

[2016-04-14 14:08] woot4moo commented on #124
in the event anyone reads this later, FIPS enforcement would cause a default of MD5 to break.

[2016-04-14 14:48] Fjan commented on #124
As far as I know FIPS enforcement only applies to encryption, I don't think there is anything in the standard about asset versioning. Would the sequential numbering that Github uses for asset versioning of images automatically mean Github fails FIPS enforcement, for example?

[2016-04-14 14:49] woot4moo commented on #124
@Fjan  MD5 is a cryptographic hash which is banned under FIPS, you could swap to SHA256 or something else that is allowed.

[2016-04-14 15:12] Fjan commented on #124
@woot4moo my point is that Sprockets uses MD5 for asset versioning, it does not use it for cryptography in any way so FIPS does not apply. I know there are scanners that simply look for something that looks like an MD5 hash and flag that because they cannot tell that it's not used for cryptography. You could chop off a few digits if you want to circumvent those false positives.

[2016-04-14 15:16] woot4moo commented on #124
@fjan sure but that doesn't matter.  Running even a skeleton app with sprockets on a fips enabled system results in an error at startup because it invokes MD5.

[2016-04-14 16:24] Fjan commented on #124
Ok, in that case it would take a bit more work to prevent false positives, like vendoring a copy of MD5 in Sprockets, but that may not be worth the effort.

[2016-04-14 16:25] woot4moo commented on #124
I would just make it a properties file change that can be set.

[2016-04-14 19:09] jasnow commented on #117
@schneems - Thanks for responding.

[2016-04-18 13:49] vuhailuyen1991 opened #279 "Uncaught ReferenceError: JST is not defined"
My gem file:

My application.js

When I load the page I get this error: `Uncaught ReferenceError: JST is not defined`

I have no idea why JST is not loading. I have put a *.jst.jade file in /assets/javascript/templates/ folder and required the whole tree in application.js file.

<img width="192" alt="screen shot 2016-04-18 at 8 48 39 pm" src="https://cloud.githubusercontent.com/assets/7251715/1460

[2016-04-18 15:05] schneems commented on #279
What is the exact version of sprockets you're using? ` $ bundle list | sprockets`

Was this previously working? If so what version of sprockets were you using?

I know nothing about JST, maybe https://gist.github.com/jgorset/1747655 could be helpful. Looks like https://github.com/rails/sprockets#javascript-templating-with-ejs-and-eco says you need .eco or .ejs file to make it work. I don't think t

[2016-04-18 22:10] vuhailuyen1991 commented on #279
Hi @schneems.
1. Here is my sprockets version
 * sprockets (3.6.0)
  * sprockets-rails (3.0.4)

2. I created a brand new app

3. I install the gem jader and it works now. I saw that jader requires `therubyracer` gem. I think it could be the missing one.

[2016-04-19 17:51] mwenger1 commented on #242
👍

[2016-04-20 14:32] schneems opened #281 "Better load path warning"
We need a better way to detect when someone has an asset in their project but isn't referencing it correctly

From https://github.com/rails/rails/issues/23683#issuecomment-211791932

The issue was two fold, first the asset existed but it wasn't in the sprockets path. I think we could add another array of paths that sprockets can track something like "top level asset directory" that we could use to

[2016-04-20 14:42] schneems commented on #242
Looks like this is a bug in concurrent-ruby see rails/rails#24627

[2016-04-20 14:56] schneems commented on #242
Which is being tracked in https://github.com/ruby-concurrency/concurrent-ruby/issues/528

[2016-04-20 15:09] schneems commented on #242
Not sure why that would happen here though. I don't think that we load assets concurrently. The error is coming from

[code]

basically.

We are mutating the values of a hash as we're iterating through it, but I would think that would either work all the time or never. It's weird that it's the same line for both of you since there are other arrays that we're mutating before. I guess maybe that ass

[2016-04-20 15:11] kaukas commented on #242
I am sorry but I can not share the code of the project I am working on. My only observation is that the more files Sprockets needs to compile the more likely the error.

I am currently using Ruby 2.2.4 and hitting the same error.

[2016-04-20 15:22] schneems commented on #242
Sorry didn't specify, I really don't want your code. I want a small project that reproduces the problem. Like may be if the error always happens on the same asset, pull that out into a new project and see if the error happens. If it does, replace the asset with something generic and sharable. If I can't reproduce the problem with an example app, I won't be able to fix it.

[2016-04-20 15:23] kaukas commented on #242
Makes sense, thank you! I'll see what I can reproduce.

[2016-04-20 16:12] schneems commented on #242
Tried to repro the behavior with a ruby only script and i'm not able to

[code]

[2016-04-20 17:23] jeremy commented on #242
No concurrent access there, @schneems ?

[2016-04-20 17:37] jeremy commented on #281
Part of the confusion was that the asset helpers fall back to assuming a missing asset is referencing a file in `public/`, resulting in an `/images/…` path that obfuscates the underlying issue.

What we're missing is the opportunity to raise and alert the user to exactly what happened and where: We didn't find that asset. Here's where we looked. That's enough to diagnose most cases, so long as we'

[2016-04-20 19:10] schneems commented on #242
@jeremy right now assets are loaded one at a time since they have dependencies that needed to be loaded in order. Theoretically we could parallelize it but it would need some love to get to that point.

The only other way that these could be accessed parallel that I can see is if they're being accessed by two different requests at the same time. The only way that would happen is if this was in dev

[2016-04-20 19:36] kaukas commented on #242
Sorry, I did not have time to make a test app.

@schneems, I am mostly seeing this problem when running browser tests in development with compilation. That involves loading the same .js files many times for each test. So it does look like multiple requests trigger concurrent access issues.

[2016-04-21 16:04] schneems commented on #281
I agree, that fallback behavior is hiding a lot.

I like the `public_` prefix. I think being more explicit about the behavior you want is a good thing.

[2016-04-21 16:11] schneems commented on #279
I'm thinking there should be some kind of `$ rake assets:extensions:list` task that will output all known file formats. Or maybe when we fail to find an asset with a given name list all assets with that name in a different extension.

[2016-04-21 16:11] #279 closed

[2016-04-21 16:14] schneems opened #282 "Debuggable asset filename extensions"
Right now sprockets API is based off of file name extension `i.e. `foo.html.erb` versus `foo.js.erb`. If you're trying to load a file that sprockets does not know what to do with like `whatever.js.es6` it's not clear that the problem is sprockets can find the file but doesn't know what to do with it. In this case you would need to add the babel gem.

We should add some debugging around this use ca

[2016-04-21 16:21] rafaelfranca commented on #282
Sprockets doesn't know anything about filename extensions. The only thing it knows is about mime types (and with a mime type you can see file extensions related to it).

I'm not sure what are we trying to archive with this new rake task. How that information could be useful?

[2016-04-21 16:26] schneems commented on #282
It has to know extensions to convert from extension to mime type

https://github.com/rails/sprockets/blob/b7a86f3216564d17d5c537ddbc41a127bde390e6/lib/sprockets.rb#L48

There have been several issues that were solved by saying "Hey Sprockets doesn't ship with support for <x> thing, you need to add a gem to be able to compile <y> extension". I don't want to explain this over and over again and I do

[2016-04-21 16:28] rafaelfranca commented on #282
I'd try to improve the failure case because even with that debugging list people will still open issues like that.

[2016-04-21 16:35] schneems commented on #282
Agreed

[2016-04-21 16:37] schneems commented on #282
Right now I'm trying to document my wishlist of ways I think sprockets could fail better. I think we need to also do some work in Rails so we're allowed to fail more often, this is a good start https://github.com/rails/sprockets/issues/281#issuecomment-212529330.

[2016-04-22 14:39] schneems commented on #242
Not sure the best way to move forwards here. If the issue exists only in development we don't want to slow down prod to fix dev.

I'm still not 100% sure what is happening. It looks like maybe marshal is returning the __exact__ same object for each request maybe?

[2016-04-25 19:57] rossta commented on #44
There's now a gem, [`serviceworker-rails`](https://github.com/rossta/serviceworker-rails) that will allow you to proxy requests for serviceworker scripts in the asset pipeline.

While we want Sprockets preprocessing, i.e. CoffeeScript/ES2015 to JavaScript transpilation, we also want to avoid adding long-lived cache headers, serving from `/assets`, and fingerprinting filenames.

With `serviceworker

[2016-04-26 05:21] atruskie opened #283 "FileStore cache patch in v3.6 causes directory name collisions in Windows"
The changes introduced in bc40f15dd10701034524e2cb53d373190fe0014c add a namespace directory to the digest key.

Unfortunately, on Windows the namespace folder causes conflicts due to case sensitivity. For example: `lc`, `Lc`, `lC` all resolve to the same folder when _creating the directory_. When it comes time to resolve the asset in the folder the correct file cannot be found.

Steps to reproduc

[2016-04-26 10:06] kaukas commented on #242
Please try [this repository](https://github.com/kaukas/sprockets_bug). It reproduces the problem on my Mac quite reliably.

Please also note the (lack of) speed of asset compilation. Even though the number of files is large Sprockets takes ages to compile. Way too slow in my opinion. It is not uncommon to have even more dependencies in large projects if you include CSS, font and image assets. The

[2016-04-26 12:56] schneems commented on #283
cc @rafaelfranca

[2016-04-26 13:25] jeremy commented on #283
+downcase. Affects OS X too.
On Tue, Apr 26, 2016 at 07:56 Richard Schneeman <notifications@github.com>
wrote:

[2016-04-26 13:43] siebertm opened #284 "Source maps for files in sub-directories don't work"
When playing with Sprockets 4.0.0.beta2 on one of our apps, I noticed a bug which leads to sourcemaps not working.

When I load an asset file from a subdirectory (`javascript_include_tag "sub/directory"`), the file contains a sourcemaps entry with a relative path duplicating the `sub` path:

[code]

This makes my chrome devtools request `/assets/sub/sub/directory.js-SHA.map` which of course fails.

[2016-04-26 14:41] schneems commented on #284
Basically everything I know about source maps I wrote into a guide. Looks like when it's a relative path it will use the parent's directory as the base from my notes here https://github.com/rails/sprockets/blob/master/guides/source_maps.md#source-map-detection

Thanks for the repro case. Source maps is still very much a WIP, and the only way to move it forwards is to break it with lots of example

[2016-04-26 14:45] siebertm commented on #284
My first impulse was the question: "why no absolute paths?" Does the sprockets environment (or processor) know what the absolute path is?

[2016-04-26 14:47] schneems commented on #284
Sprockets knows all! But sometimes it's expensive or difficult to compute. I didn't write the code for source maps (i inherited this project), so I don't know if that was done for a reason or it was a mistake. Would have to dig deeper.

[2016-04-26 17:57] schneems commented on #283
Is there a hashing algorithm that produces lowercase characters only in their results string? Splitting the string and down-casing on every cache lookup would be expensive :(

[2016-04-26 17:59] jeremy commented on #283
Touching the filesystem has got to be an order of magnitude more expensive than downcasing a couple chars. We're already splitting the string to get the dir name, huh?

[2016-04-26 18:01] schneems commented on #283
The current implementation can have collisions for the whole asset, would be nice to not have to do that.

Not sure about your filesystem comment, we're already having to read in the contents to create the digest, was suggesting maybe there exists a different digest algorithm that produces strings without varying case.

[2016-04-26 18:16] schneems commented on #283
For example `Digest::SHA256.hexdigest` only uses hex, so it never generates uppercase characters.

[2016-04-26 18:52] jeremy commented on #283
Gotcha. Speaking to:

to suggest that we're already splitting the string and that downcasing is inexpensive 😊

[2016-04-26 20:35] arjun-urs opened #286 "Not loading .jst.hamlc assets"
After upgrading sprockets from 2.2.2 (in rails3) to 3.6.0 (in rails5), i am not able to use .jst.hamlc assets.

Can you please have a look at this please?

[2016-04-26 21:11] rafaelfranca commented on #286
You need to give us more information on how to reproduce this issue, otherwise there is nothing we can do. Please read CONTRIBUTING.md file for more information about creating bug reports. Thanks!

[2016-04-26 21:11] #286 closed

[2016-04-27 17:08] jasnow commented on #117
@schneems - Are ya'll finished with the above deprecations?

[2016-04-27 17:13] schneems commented on #117
Haven't really even started. There's definitely more things we can/should deprecated.

[2016-04-27 17:51] jasnow commented on #117
ok

[2016-04-27 23:27] agibralter opened #287 "`mtime` used in 2.x to determine cache freshness"
After a bit of digging into confusing asset-related bugs, I realized that we've been running into a cache-related race condition in our deployment process with asset pre-compilation. We are currently on the 2.x branch of Sprockets, so I'm not sure if this behavior still occurs in 3.x+.

In short, we use the Rails asset cache with memcache in order to vastly speed up `rake assets:precompile`. Since

[2016-04-28 12:08] siebertm commented on #284
@schneems I'm currently trying to wrap my head around that issue and have a possible fix here. Will send a PR as soon as I deem it "ready"

[2016-04-28 20:01] mikesea opened #289 "Precompiling too many assets"
Hi! I'm in the process of upgrading a project from sprockets 2.x to 3.x, but ran in to an issue when precompiling assets after the upgrade. It seems any custom mime types will be added to the list of precompiled assets, causing the amount of precompiled assets to increase dramatically.

To help illustrate, I created a new Rails app here: https://github.com/mikesea/sprockets-test

This app register

[2016-04-28 21:04] mikesea commented on #289
Seems the approach I took would make the processor compatible with Sprockets 4, not Sprockets 3. Changing to:

[code]

does the trick

[2016-04-28 21:04] #289 closed

[2016-04-29 11:36] kaukas commented on #242
Has anyone had any luck reproducing the issue with the [demo repository](https://github.com/kaukas/sprockets_bug)? Is there some other way I could help?

[2016-04-29 14:11] mulvaney opened #291 "Sprockets inserts extra newlines when loading javascript asset"
I have a javascript file that looks like this, named test.js:

[code]

When that file goes through sprockets in development, it gets a newline after the first comment:

[code]

This is just a sample file but it looks like the files I get from Webpack.  I build up an app/assets/javascripts/bundle.js file from Webpack, and then include that file in application.js, so the webpack built JS goes into t

[2016-04-29 14:15] schneems commented on #291
Can you attach a sample project that reproduces the problem?

[2016-04-29 14:16] schneems commented on #242
I won't be able to dig in until after RailsConf

[2016-04-29 14:25] mulvaney commented on #291
https://github.com/mulvaney/sprockets-example

[2016-04-29 14:33] schneems commented on #291
🚀  thanks! I'll be able to dig in after railsconf. Thanks for the report.

[2016-05-02 14:08] Ch4s3 opened #293 "uninitialized constant ActiveSupport::TimeWithZone on assets:precompile"
During a build on CI, we ran into this error: `uninitialized constant ActiveSupport::TimeWithZone`

here is the full trace:

[code]

[2016-05-02 15:34] cmalpeli opened #294 "Sprockets::NotImplementedError: Custom asset_path helper is not implemented"
I am getting the following when trying to precompile my assets locally

[code]

Any thoughts as to why this is occurring.  [As you can see in this SO thread ](http://stackoverflow.com/questions/36947064/sprockets-error-sprocketsnotimplementederror-custom-asset-path-helper-is-not)I've tried implementing it (though I don't understand why on earth I would need to).

[2016-05-02 15:55] arthurnn commented on #293
Not sure how this is happening as the import exists https://github.com/rails/rails/blob/v4.2.6/activesupport/lib/active_support/core_ext/time/calculations.rb#L3

[2016-05-02 21:26] Ch4s3 commented on #293
I thought the same thing. It looked like it was blowing up in the call to Concurrent::Future. Very odd.

[2016-05-03 17:04] arktisklada commented on #242
I see the linked issue has been resolved and folded into the Rails 5.0.0 release, but it's not working for me in 4.2

[2016-05-04 12:49] kaukas commented on #242
If I understand it correctly, the bug in [#24627](https://github.com/rails/rails/issues/24627) has been fixed by upgrading to the latest ConcurrentRuby. I upgraded the [demo repository](https://github.com/kaukas/sprockets_bug) too but the problem still occurs.

[2016-05-04 23:14] hallaathrad commented on #161
Hey! Having the same issue and getting past the error message doing the same (not following the example, but linking the file directly). The issue now is the scss files are not being processed and shown... rendering the page entirely unstyled.

Being entirely new at the Rails thing (JavaScript front-end here), I'm sort of at loss on how to solve this. Help, please?

[2016-05-04 23:16] rafaelfranca commented on #161
@hallaathrad could you explain exactly what are you trying to do and that is not working?

[2016-05-04 23:23] hallaathrad commented on #161
Thanks @rafaelfranca
So, long story short, I've just joined a project using legacy gems which I've been trying to update so I can set the front-end parts of it in order... finally just managed to get rails serving again after dealing with dependency mayhem, and as said before: no previous experience at rails... I've been a node/JS guy until now.

The site was rendering "fine" until I started updat

[2016-05-05 23:59] repinel commented on #291
@schneems It seems to be an issue around in the [directive_processor.rb](https://github.com/rails/sprockets/blob/9112007ad3c25264196773a92827caa4746df116/lib/sprockets/directive_processor.rb#L118). It gets a little confused on how to handle inline and block comments.

I'm working on a possible fix for this.

[2016-05-06 06:25] mikong commented on #246
@rafaelfranca, do you think it's enough to update the documentation in the following?

* lib/sprockets/compressing.rb
* Extending Sprockets guide, compressors section

In lib/sprockets/compressing.rb, we can update the `Compressing` module documentation, and the `register_compressor` method documentation.

[2016-05-06 10:23] dreyks commented on #183
Rails5 uses coffeescript now, namely `rails/actioncable/app/assets/javascripts/action_cable/connection.coffee`

If you encountered this error during rails 5 migration attempt (as I did) this is your cause

So, no, Sprockets does not require coffee-rails, rails5 itself requires it

[2016-05-07 17:48] repinel commented on #294
@cmalpeli Could you make sample project with the problem?

[2016-05-07 23:15] jasnow commented on #117
@schneems - I always knew I was working with a hero - now you have be recognized. Congratulations!

[2016-05-08 14:45] cmalpeli commented on #294
I'm going to close this issue.  I wound up pulling down my working production app from Heroku, verified everything precompiled and then slowly upgraded gems, verifying precompile still worked each step of the way.

[2016-05-08 14:45] #294 closed

[2016-05-09 21:30] bradgreens opened #296 "Filename collisions fail silently"
I have an app that is using [sprockets es6](https://github.com/TannerRogalsky/sprockets-es6) to compile Javascript files. I also am using [Angular Rails templates](https://github.com/pitr/angular-rails-templates) to compile HTML files to Javascript that Angular recognizes.

I'm building out UI modules with file naming conventions like so -

`my-feature.es6`

and

`my-feature.html.slim`

This resul

[2016-05-10 18:31] schneems commented on #296
I agree, can you give me an example app that reproduces this behavior, I'll play around and see what options we have. This should not be a case we fail silently on.

[2016-05-10 18:33] schneems commented on #293
Make sure you have concurrent-ruby 1.0.1+

If it is still happening can you give me a repro example app?

[2016-05-10 18:35] schneems commented on #287
Thanks for the report. Yes 3.x also uses mtime heavily.

Don't share a cache between different "environments" for this very reason. This isn't an expected or supported use of Sprockets.

[2016-05-10 18:38] schneems commented on #287
Accidentally submitted too soon.

The 3.x branch is a stability branch. Nothing was removed (that I know of). Try out 3.6.0 and see if the problem persists. There's not much we can do to support the multiple apps using one cache case. If there is a fix for this that isn't invasive and performance prohibitive then i'm interested. The easiest thing would be to either use the filestore for staging an

[2016-05-10 18:46] schneems commented on #283
So it looks like the filenames are already using hex

[code]

I need to look into using `hexdigest` method only, as it's faster than the current implementation.

The reported problem is coming from the cache blobs and not from filename digests. Still looking at where those are coming from. Maybe we could use hexdigest there too

[2016-05-10 18:46] agibralter commented on #287
Thank you @schneems! Yeah... I kind of assumed this was a case of "it's not really meant to be used that way." I'll think it over. For now, we're removing our cross-environment asset cache.

[2016-05-10 20:08] schneems commented on #242
This is different than the concurrent-ruby example linked.

[2016-05-10 20:16] emptyflask opened #298 "Optionally skip compression for specific files"
Some JS libraries are already compressed in the most efficient way, and some are actually broken when run through a compressor (like selectivizr a few years ago), so a feature like this would be useful:

[code]

Discussed briefly with @schneems at RailsConf, but there's no obvious way to implement this yet.
Here's [the previous thread](https://github.com/sstephenson/sprockets/issues/394) on this t

[2016-05-10 20:55] Ch4s3 commented on #293
I am on concurrent-ruby 1.0.1. I have been unable to produce this since.

[2016-05-10 20:55] #293 closed

[2016-05-10 23:49] bradgreens commented on #296
Here's a barebones example - https://github.com/bradgreens/rails-sprockets-filename-collision.

If you fire it up, visit `/my-feature` in the browser. `my-feature.es6` and `my-feature.html.slim` will compile to the same target. It demonstrates where a filename collision occurs without any notice.

[2016-05-10 23:52] matthewd commented on #296
Note that this is a (clearly undesirable) special case of an intended behaviour, which is that you can override a same-named asset that appears deeper in the search path.

[2016-05-10 23:58] bradgreens commented on #296
I've not heard of that behavior, but it's your discretion if it merits a warning or whatnot.

[2016-05-12 18:32] michaelherold commented on #41
I believe this issue was solved at some point between the time it was reported and now.

I went to reproduce it and the behavior was as expected from my understanding. Here's the relevant source lines, as quoted in the report:

[code]

Both index and indexx show up properly. This is using Rails 4.2.6 instead of the tagged 4.2.1.

I think this issue can be closed.

[2016-05-12 19:07] michaelherold commented on #291
I think @repinel's fix addresses this issue. I added my thoughts over there.

[2016-05-13 07:52] SamSaffron opened #300 "What is the point of avoiding the semicolon in concat_javascript_sources"
[code]

Has a check for

[code]

I was debugging our painfully slow reload times in Discourse when running qunit.

Essentially after any edit of any js file if we reload `/qunit` it takes us about 10 seconds for the page to render.

Change concat javascript sources to

[code]

And we shave off 6 or so seconds, that is huge.

So I wonder, why not simply do:

[code]

Sure, you have a few extra newli

[2016-05-14 21:01] michaelherold commented on #300
I think this sounds like a great idea. I feel like the walk in `string_end_with_semicolon?` is unnecessarily expensive when having an extra semicolon doesn't invalidate any JavaScript syntax.

Since the common problem with concatenating JavaScript files is the _lack_ of semicolons, automatically adding one (that, like Sam said, will then be removed by the minifier if it's unnecessary) seems on the

[2016-05-14 21:28] #246 closed

[2016-05-14 21:47] SamSaffron commented on #300
yeah, that was a bit lazy of me Michael, yeah a single shift operator would
be totally fine here.

On Sun, May 15, 2016 at 7:01 AM, Michael Herold <notifications@github.com>
wrote:

[2016-05-15 05:50] sudheer496 commented on #90
Hi @schneems ,
Currently we are using sprockets-rails (~> 2.0.0), and deploying using cap file.
Can you confirm any thing that improves pre-compilation between deploys when I upgrade from Sprockets 2.x to 3.x?

Thanks,
Sudheer

[2016-05-15 20:22] michaelherold commented on #263
Can you please send a link to a minimal example? That would help to diagnose the issue.

[2016-05-17 17:57] dcroper commented on #263
All you have to do is give an image file the name "[squarebracket].png" or put an image file in a directory called "[squarebracket]" and try and pre-compile that asset. If you do that the precompile command will fail.

[2016-05-17 18:03] schneems commented on #263
If you've got a minute to make an example app it will save us a minute and get this issue looked at faster https://speakerdeck.com/schneems/saving-sprockets?slide=143

[2016-05-17 22:23] michaelherold commented on #156
I went through @matthewlehner's example app. It fails to find `jquery` through the `application.es6` file on Sprockets 4.0.0.beta2.

However, when you use sprockets master, it correctly finds the issue.

I did a bisect and discovered that the behavior was fixed with the changes from #255. Specifically, if I cherry-pick 4da21144 onto the v4.0.0.beta2 tag the example application works as expected.

[2016-05-18 03:16] matthewlehner commented on #156
@michaelherold I think you're right! I tried this again yesterday in a different app and couldn't reproduce it, but still was still broken in the example app regardless of the version of Sprockets I was using – it _might_ have been a caching issue though, as I've noticed that the cached assets are not busted when options for the compiler are changed.
I'll give it a shot with Sprockets master and s

[2016-05-18 19:14] konung commented on #283
Just adding to the error report + possible temporary solution.

My dev setup is a Debian box in Vagrant on Windows 7 host with winnfsd plugin for vagrant  to simulate NFS.  I'm getting the same error. Temporary solution for me is to explicitly set sprockets to version 3.5.2 in Gemfile.

[2016-05-27 15:39] arktisklada commented on #242
Anyone have any insights on this yet?  Or at least an idea of a starting point; happy to dig deeper myself!

[2016-05-27 16:18] schneems commented on #242
We know exactly what is happening, it's just that to solve it would cause performance problems in production which we don't want. Maybe try using some other cache backends and see if that helps? You can try memcache, filestore, memory store.

The issue is that the same object is being mutated in several threads since you're using a multithreaded webserver in development.

One hacky work around cou

[2016-05-29 17:47] yoelblum commented on #298
@emptyflask @schneems So in the previous thread you mentioned it's not clear if this is the 'require' directive responsibility or the minifier's responsibility , any thoughts on that ? In other words:  what should be done to get where we want?

[2016-06-02 12:16] AdrienGiboire opened #305 "Sprockets manifest doesn't match compiled files"
I'm trying to extend `assets:precompile` task to add support for source maps.

If you want to take a look at the code, [check this gist](https://gist.github.com/AdrienGiboire/edfdb897d790a36a2c8ead268bb230d8).

What I have noticed, and that is a problem for what I am trying to do, is that the filenames contained in the manifest doesn't match what sprockets actually generates.

For example, this is

[2016-06-03 08:39] masterkain commented on #242
[code]

[2016-06-04 07:36] danielpclark commented on #84
I did a big sprockets upgrade and it didn't break anything.  I'm very happy about this. :smile:

I'm experiencing a page loading performance drop after upgrading from sprockets 2.8 to 3.6 _(after reading the [Speeding up Sprockets](https://engineering.heroku.com/blogs/2016-02-18-speeding-up-sprockets/) blog post)_.   There were a few dependencies linked into it so I ended up upgrading much more th

[2016-06-06 10:11] elia commented on #242
@schneems to add context to the stacktrace above we're seeing this in production, the server in our case is [Rainbows!](http://rainbows.bogomips.org) with `ThreadPool` strategy which is indeed multithreaded.

This is a reduced example of what happens:

[code]

--

I think it could make sense to add an in-memory cache for assets with expanded keys, something on the lines of this:

[code]

It's clea

[2016-06-07 14:42] schneems commented on #242
I agree that PR would solve the problem, however in production we want to mutate the original arrays as there is a performance penalty for allocating additional objects.

Maybe if someone has some time and can set up some benchmarks with a large-ish project (lots of assets) and can show that this change has very little impact we could move forwards with it.

[2016-06-07 17:11] schneems commented on #305
Can you give me an example app that reproduces the problem? What version of sprockets are you using? Are you building your own custom compile task like in that gist or getting the same mis-match with  another lib like rails and sprockets-rails

[2016-06-07 21:52] elia commented on #242
Not a super big set, but `foo.js` has _132_ dependecies, so I think it's a fair benchmark

    p setup_env[Sprockets::CachedEnvironment].find_asset('foo').metadata[:dependencies].size # => 132

(the _control_ benchmark is there just to ensure a slower impl is detected)

[code]

[code]

[2016-06-08 01:11] schneems commented on #242
Can you put it somewhere I can reproduce your benchmarks?

[2016-06-08 05:56] elia commented on #242
It's all self contained, you can save the script to something like `/tmp/bench.rb` and just run it. :)

[2016-06-08 15:34] schneems commented on #305
Can you use Sprockets 4 beta instead? It has source map support.

[2016-06-08 17:39] schneems opened #308 "How Sprockets Works - doc"
@rafaelfranca I got your video from RailsConf transcribed https://gist.github.com/schneems/08f2cb98ad5629a6b9115bff5bc0a972

It would be killer if we could go through that, fix some of the missed transcriptions and add code examples from your slides to make this either a blog post or a guide.

If anyone is interested in this effort please chime in here.
Here are slides https://speakerdeck.com/rafa

[2016-06-08 18:12] schneems commented on #283
I guess I don't know how we can be making file paths with upper and lowercase characters as hexdigest wouldn't allow it. Maybe something else is happening here?

[2016-06-08 18:16] schneems commented on #90
Nope, if anything i've heard reports that things get slower.

[2016-06-08 18:17] schneems commented on #300
This seems fine, send a patch?

[2016-06-08 18:19] #291 closed

[2016-06-08 18:20] #41 closed

[2016-06-08 18:20] schneems commented on #41
Great, thanks for the double check!

[2016-06-08 23:14] rafaelfranca commented on #308
OMG! Of course. I'll review this tomorrow.

[2016-06-09 04:38] danielpclark commented on #84
Alright I did some digging and here's my derailed stackprof of slow methods

### before
[code]

### after
[code]

So my app is faster with the older sprockets: (from flame graph info of page load)

### before
[code]

### after
[code]
---
It looks like way more sprocket method calls are being done and the app is spending more time in it.

[2016-06-12 10:19] dixpac commented on #308
@schneems @rafaelfranca I would love to help because I'm currently trying to figure out how sprockets work :)

Because I'm not exactly sprockets guru how can I help, what would u like me to do ?

:)

[2016-06-13 17:53] schneems commented on #308
Can you view this? https://docs.google.com/document/d/1Srn4lZgyZwgMBGmRHLYRksdDavamhH8xvJ8_UTtNbps/edit?usp=sharing

Can you request access to edit?

Basically we need to go through that transcript and add in code examples and do some light copy editing.

You don't need to know what's going on, but be able to follow the transcript along with the video and turn slides into code examples.

[2016-06-14 12:04] dixpac commented on #308
@schneems  requested, thnx!

[2016-06-14 20:32] bouk commented on #300
@SamSaffron I was debugging the same thing and figured out that the issue is unicode, here's a PR for that: https://github.com/rails/sprockets/pull/311

[2016-06-14 21:22] #300 closed

[2016-06-15 08:38] zillou commented on #305
@schneems I'm using Sprockets 4 beta now, although I can get the source map in development environment,  but I cannot find the *.map files on production.

[2016-06-15 16:19] schneems commented on #308
I want to make it understandable without the context of the talk. So basically go crazy. I think google docs keeps a diff when contributors make changes so we can undo something if it was too much.

I'm thinking we take out the stuff like introduction, maybe add a little intro section explaining the context.

We can also remove verbal things like "so" and "um". I really want to add code examples s

[2016-06-15 17:55] yairgo commented on #183
@rafaelfranca , the example repo that @ordinaryzelig provided removed turbolinks, but it did not remove coffee-rails from the Gemfile. I am currently trying to reproduce a bug with teaspoon and I can't get a basic rails app to run with because of this issue(or something else weird that I did :( )

https://github.com/ordinaryzelig/sprockets_stale_cache_app/blob/master/Gemfile#L13

I'm creating an e

[2016-06-15 17:57] ordinaryzelig commented on #183
Been a while, but I believe the gem is still there to generate the cached files in the first place. And if you follow the instructions in the README, then you will get the error.

[2016-06-15 18:07] yairgo commented on #183
@ordinaryzelig MY BAD, you left coffee-rails in the Gemfile on purpose to show that it works with coffee rails in the Gemfile but does not work if you remove it. I didn't realize that at first.

[2016-06-16 07:44] 5minpause commented on #260
Hi @schneems FWIW I created an example app with the latest versions of sprockets (3.6.0), handlebar_assets (0.23.0) and Rails 4.2.5.1 over here: https://github.com/5minpause/handlebars-assets-example

I could not reproduce any errors.

[2016-06-16 08:43] 5minpause commented on #252
Hi @schneems I created a pull request, that displays the load paths together with the regular error message. Perhaps this is helpful? Any feedback is appreciated.
I opened the PR to the branch 3.x. Does this make sense? Or is development only done in master?

[2016-06-16 18:50] dixpac commented on #308
sounds great .....I will try to put in code examples tonight :)

[2016-06-16 22:09] dixpac commented on #308
@schneems  manage to add all of the code into document and also do some light editing (sections, etc...), will try to put some more work on weekend :)

[2016-06-18 09:20] radar opened #316 "Asset was not declared to be precompiled in production"
I believe I've encountered a bug with Sprockets 4.0.0-beta2 and how it does path resolution for assets. I have an app which can reproduce the problem here https://github.com/radar/twist/tree/sprockets-bug

Steps to reproduce:

1. `bundle install`
2. `bundle exec rspec spec/features/accounts/sign_up_spec.rb`

Here's what I see:

[code]

This is understandable and true. I haven't declared that asset

[2016-06-18 15:15] schneems commented on #316
Thanks for the report I can try and dig in on Monday.

[2016-06-19 16:56] miguelalarcos opened #317 "require gems with sprockets"
Hi, I'm making a realtime web framework (with rethinkdb) where I'd like to use sprockets. This is my config.ru file:

[code]

This is my index.html file:

[code]

I run `bundle exec rackup` and open `http://localhost:9292/`. But I've got this error:

[code]

This is my ruby file where I require 'browser' gem:

[code]

If I use `require_tree 'browser'` the error is not shown, but I'm not sure this

[2016-06-19 21:41] radar commented on #316
I just tried `//= link accounts/plans.js` and that apparently works. I think I was misled by this line in the original error:

[code]

[2016-06-20 15:26] schneems commented on #316
I fixed this error message in sprockets-rails https://github.com/rails/sprockets-rails/pull/329

However the version of sprockets-rails you're using shouldn't have given you an error message telling you about `config/manifest.js`.

Let me know if there's anything else we need to look at.

[2016-06-20 15:26] #316 closed

[2016-06-20 16:04] schneems commented on #317
I think that sprockets "require" and opal's "require" may be getting in the way here. Can you give me a small example app so I can play around here? I've never tried using opal + sprockets together.

I did find https://github.com/opal/opal-sprockets

[2016-06-20 16:13] u007 opened #319 "custom mime and transform for riotjs"
hi,

ive extended padrino sprockets to try to run riotjs .tag
::Sprockets.register_mime_type 'text/riot-tag', extensions: ['.tag.js']#, charset: :unicode
::Sprockets.register_transformer 'text/riot-tag', 'application/javascript', ::Padrino::Processor::RiotProcessor

but when i require in application.js
//= require tags/myfile

i wish to have a preprocessor that compile the .tag by running command

[2016-06-20 16:51] miguelalarcos commented on #317
Thanks for the quick reply.

This is a minimal code:
index.html:
[code]
config.ru:
[code]

And this is app/application.rb:
[code]
When I go to http://localhost:9292/ I get the error:
[code]

[2016-06-20 17:45] schneems commented on #317
I don't know how to run that. You've got no dependencies specified Gemfile, Gemfile.lock etc. Can you put that in example app form?

[2016-06-20 17:57] miguelalarcos commented on #317
I'm sorry.

This is the Gemfile:

[code]
`bundle install`

This is app/application.rb after edit 1:

[code]

And you run this by `bundle exec rackup`.

(sorry again I don't see an example app form)

[2016-06-20 18:03] schneems commented on #317
No worries. Go to github.com and click "new repo". Locally run `mkdir exampleapp` then `cd exampleapp` then `git init` then add all your files until it works then run `git add .; git commit -m first`. Follow the directions from github on pushing your local repo to github. Once you're comment here and link to the repo.

Here's me riffing on example apps a bit: https://youtu.be/qxaE8yblHPk?t=15m31s

[2016-06-20 18:10] miguelalarcos commented on #317
[the repo](https://github.com/miguelalarcos/example-opal-sprockets)

Please tell me anything more you need.

[2016-06-20 18:12] schneems commented on #319
That project is locked to Sprockets 2.x in the gemfile. Everything I know about transformers is written in https://github.com/rails/sprockets/blob/master/guides/extending_sprockets.md#transformers . Note that Sprockets 2 and 3 work differently with processors/transformers/etc for example Sprockets 2.0.5 which you're locked to in that project you linked doesn't even have a `register_transformer` me

[2016-06-20 18:12] #319 closed

[2016-06-20 19:35] schneems commented on #308
Thanks! You're awesome!

[2016-06-20 19:51] schneems commented on #84
This is a really long thread. I'm working on performance again right now. Did anyone include any slow example apps on this thread?

[2016-06-20 20:27] redox commented on #84
You can use https://github.com/redox/perf_regression_sprockets -> I tried to make it pretty straight forward. Let us know how that goes @schneems 👍

[2016-06-21 15:47] u007 commented on #319
hi schneems,

no, its not locked at sprocket 2, its >= 2.2 for sprocket-helper
ive updated padrino-sprocket (my version) to enforce 3.6
and im still getting this :after msg
Error: Sprockets::FileNotFound: couldn't find file 'tags/tree-list' with type 'application/javascript'
  (in /private/var/www/akeypoints/app/assets/javascripts/application.js:12)

ive app/assets/javascripts/tags/tree-list.tag

[2016-06-22 02:40] u007 commented on #319
the code is state here
https://github.com/u007/padrino-sprockets/blob/master/lib/padrino/sprockets.rb
line 87
::Sprockets.register_mime_type 'text/riot-tag', extensions: ['.tag']#, charset: :unicode
        ::Sprockets.register_transformer 'text/riot-tag', 'application/javascript', ::Padrino::Processor::RiotProcessor
        ::Sprockets.register_preprocessor 'text/riot-tag', ::Sprockets::Directive

[2016-06-23 06:18] dixpac commented on #317
Hey @miguelalarcos been playing a bit with you `Opal` setup. Open uses sprockets 3.1 internally, so your problem is more of a opal implementation then sprockets per se.

Opal has this "opal" gems which are working like a charm `opal-rspec, opal-jquery. opal-browser.etc....` but as far as I know they can't promise that any ruby gem will work with opal.
There are some workarounds when requiring othe

[2016-06-23 20:20] wjordan opened #325 "Cached assets become stale after engine version changes"
When a new version of an "engine" registered with Sprockets generates different content from the same source file compared to a previous version, the cached asset remains stale and is not regenerated correctly by Sprockets.

I came across this issue when updating an existing Rails project containing `sass-rails`, and updating `sass` from `3.2.19` to `3.4.22`, which generated slightly different CSS

[2016-06-23 20:29] rafaelfranca commented on #325
that is exactly how it happens. Then engine should bump the cache key based in they version. If an engine is not doing this it is an engine bug. Could you report this issue to the engine?

[2016-06-23 20:30] #325 closed

[2016-06-25 16:27] schneems opened #327 "Raise on accidental intermediate file format use"
This is going to be a tough one. Right now if you accidentally

[code]

Then sprockets will render you the contents of the `scss` file, however you probably wanted the compiled CSS results that would come from `env["application.css"]`.

I'm proposing we either register file formats as "internal" so that if you tried to render `.scss` you get an error. Alternatively we could register end user forma

[2016-06-26 08:24] myggul92 opened #328 "Typescript support in sprockets 4"
I know that sprockets 4 start to support .es6 (+react(jsx)) with babel transpiler as default.
Any plan to support typescript(.ts) ? (recommended language in Angular 2 )
I hope sprockets support it as default, too.

[2016-06-26 18:17] rafaelfranca commented on #328
There is no plan to support it by default in sprockets but should be really easy to implement a processor to so this.

[2016-06-26 18:17] #328 closed

[2016-06-26 21:08] dagi3d opened #329 "@import not working with sassc/scssc processor for gem libraries"
The `@import` directive is not working if I try to load a stylesheet from a gem using the sassc/scssc processor:

application.scss:
`@import 'bootstrap';`

asset_pipeline.rb:
[code]

I get this error:
[code]

If I just leave the default processor, it works. On the other hand, I found a workaround to make it work by setting an additional asset_path:

[code]

[2016-06-26 21:24] dagi3d opened #330 "Sassc/Scssc processors do not update imported files"
I was testing the new libsass integration and found the following issue:

Given the following stylesheets
application.scss
[code]

_base.scss
[code]

asset_pipeline:
[code]

If I make any change in `_base.scss` using the Scssc processor, the styles are not updated. To make the application.scss be updated, I need to make a change on it so it is precompiled again with `_base.scss` as well.
If I just

[2016-06-27 12:05] miguelalarcos commented on #317
Hi @dixpac

Thank you very much for the info!

[2016-06-27 15:16] schneems commented on #330
I'm currently working on sassc support. There's some bugs. Right now i'm trying to get sassc-rails working with sprockets 4 https://github.com/sass/sassc-rails/pull/65 after that i'm looking to get the SasscProcessor working and then hopefully get sass-rails to auto default to sassc when it's present and Sprockets 4 is being used. I don't have a timeline for those fixes but that's the gameplan.

[2016-06-27 15:17] schneems commented on #330
Dupe of #329

[2016-06-27 15:17] #330 closed

[2016-06-27 15:17] schneems commented on #329
I'm currently working on sassc support. There's some bugs. Right now i'm trying to get sassc-rails working with sprockets 4 https://github.com/sass/sassc-rails/pull/65 after that i'm looking to get the SasscProcessor working and then hopefully get sass-rails to auto default to sassc when it's present and Sprockets 4 is being used. I don't have a timeline for those fixes but that's the gameplan.

[2016-06-28 07:06] nfm commented on #84
I've just run into this issue too on a newly added, asset heavy page on our site.

Here's my current reproduction: https://github.com/nfm/sprockets-3.x-performance-regressions

The meat of it is this super simple rake task:

[code]

Otherwise it's just a newly initialized Rails 4.2.6 app, with two branches: one for [Sprockets 2.x](https://github.com/nfm/sprockets-3.x-performance-regressions/tree/s

[2016-06-28 13:45] schneems commented on #84
@redox  Not to be too over zealous but I think I already fixed the performance regression in Sprockets 3. When I use Sprockets 3.2.0 with your app I see a page load take about 400ms. (using rack-mini-profiler) When I use Sprockets 3.6.2 it takes about 100ms. Can you try upgrading and let me know how it looks.

@nfm i haven't looked at your app yet, it's already using Sprockets 3.6.2. I'll need to

[2016-06-28 14:07] tyler-vincent commented on #84
We noticed a large performance improvement upgrading to `sprockets-rails` 3.x from 2.x. It's not perfect but way better than before

[2016-06-28 16:31] schneems commented on #84
@nfm I found one place where it was spending a bunch of time, thanks for the example app. It's not back to 2.x speeds but I was able to get a 400% perf improvement with https://github.com/rails/sprockets/pull/331

There is some logic that was added to 3.x that will allow for multiple assets to be matched. It's expensive in large directories. I don't know why it was added and I don't feel comfortab

[2016-06-28 16:44] schneems commented on #84
Turns out it's perhaps faster, but not by 400% made a mistake while benchmarking.

[2016-06-29 01:43] nfm commented on #84
@schneems thanks for taking a look :)

Interesting thought about things being slow if there are many assets in one directory. I've [updated my repo](https://github.com/nfm/sprockets-3.x-performance-regressions/compare/d24d3041f14e51ac33d480019b1858aa97f52df8...ff52012724a787b59f58b8f0f2370b0126630e29) to add another benchmark where each asset is in its own directory. Probably the most realistic us

[2016-06-29 04:48] nfm commented on #84
Ok, so it looks like most of the weirdness is me misunderstanding Sprockets!

Precompiling the assets is not enough to have the benchmark behave like Sprockets will in production. The benchmark was running in the `development` environment where `config.assets.debug` is set to true, and as a result assets were being looked up by `Sprockets::Rails::HelperAssetResolvers::Environment` instead of `Spro

[2016-06-29 13:23] schneems commented on #327
Should also raise when no extension is given.

[2016-06-30 03:36] prathamesh-sonpatki commented on #183
@rafaelfranca Here is a sample application https://github.com/prathamesh-sonpatki/final-demo-app

Steps to reproduce -

rails new demo
rails g scaffold Post name:string
rails db:migrate
rails s
visit /posts
stop server
remove coffee-rails from Gemfile
bundle
rake tmp:cache:clear
rails s
/posts throws an error -
![monosnap 2016-06-30 09-05-37](https://cloud.githubusercontent.com/assets/621238/16476

[2016-06-30 04:36] vipulnsward commented on #183
@prathamesh-sonpatki that App is failing because you still have a coffee file in path which leads sprockets to try and resolve coffeescript
https://github.com/prathamesh-sonpatki/final-demo-app/blob/master/app/assets/javascripts/posts.coffee
Works when it is removed.

[2016-06-30 04:42] prathamesh-sonpatki commented on #183
Great! Indeed works fine 😀

[2016-06-30 15:50] schneems commented on #183
Great! So we can close this issue? Maybe we can have a better error?

[code]

[2016-06-30 16:16] schneems opened #335 "Show asset currently compiling when error"
This error was generated while compiling an asset, which asset? No one knows! We should consider catching all errors, extending the error message and re-raising.

[code]

[2016-07-01 16:33] #183 closed

[2016-07-01 16:41] schneems commented on #84
@mfm yes, keeping `compile=true` is a big hit on performance. I added a note to an issue https://github.com/rails/sprockets/issues/327#issuecomment-229354104 that could have prevented your case from happening, if we raised when you're looking up an asset without an extension. I was able to successfully use your test script to make quite a few improvements in master and one on the 3.x branch. Thank

[2016-07-01 18:03] schneems commented on #84
I cut a release 3.6.3 please try it out. Going to close this thread for now. Thank you all for providing feedback and example scripts.

[2016-07-01 18:03] #84 closed

[2016-07-03 02:37] satishchhibba commented on #283
I am using Rails 5.0.0. RC1 with sprockets 3.1.1 and have this same problem.
It got worse over days where 50+% of the time I would get this error (in development mode) on any request -- success rate was below 20-30% and I got very sick of it.

Env. is Debian .. and there is no separate client.
I looked inside tmp/assets and Sprockets 3.0 directory was littered with hashes with case-conflict tag.

[2016-07-03 07:19] davidalejandroaguilar opened #337 "undefined method `lookup_asset_for_path' for #<#<Class:0x000000057d2058>:0x007f5db926e5f8>"
The error started when I installed Jquery-migrate-rails from this repo: https://github.com/krishnasrihari/jquery-migrate-rails.

After that, no matter how many commits I go back, I can't get out of that error.

Here's the screenshot of it:
https://gyazo.com/3f617e80aa9643e87ecd559fcd09f91c

I found this method which I think was deprecated on Sprockets 3.x:
[code]

I think my app is somehow calling

[2016-07-03 15:33] schneems commented on #283
The behavior the original ticket describes was not in Sprockets 3.1.1

Can you open a new issue and give us an example app that reproduces the behavior. Also please try with the latest 3.6 version we won't apply patches against an older minor version of Sprockets.

[2016-07-03 19:16] davidalejandroaguilar commented on #337
This was actually compatibility issues with my Rails version and https://github.com/schneems/sprockets_better_errors

[2016-07-03 19:16] #337 closed

[2016-07-03 23:42] nfm commented on #84
Thanks @schneems, that all makes sense. Nice work with the performance fix! Glad to be able to help out :)

[2016-07-06 11:53] drewhamlett commented on #157
Source maps working fine in development for me. Couldn't get production to generate maps.  I then tried @modosc method with

[code]

That generates the maps but doesn't like the application.js to them.  So kind of stuck now.  The hash name doesn't follow the actual naming of the file otherwise I would just add it manually.

[2016-07-11 11:52] SamMolokanov commented on #298
@emptyflask I tried to custom sprockets compressor to skip minification for already minified files, there is a Gist with workaround https://gist.github.com/SamMolokanov/efc441b44345c24662cf1063dd6ed950

PS. It is very naive and non-flexible, just an idea :)

[2016-07-13 16:07] tubaxenor commented on #74
We have encounter the same issue when having following scenario on our rails' application.js after upgrade from sprockets 2.x to  sprockets 3.x:

1. A new server spins up with no assets at all
2. Run `RAILS_ENV=production bundle exec rake assets:precompile`
3. The first created application.js is having different variable names compares to old ones, which also causing different digest generated.

B

[2016-07-17 21:36] merqlove opened #341 "Watcher"
Hi all,
I want ask, `Sprockets` has some background watcher? Like in `Webpack`, `gulp` and others?
Very useful feature for SPA developers.

Just tried Sprockets 4.x, looks good, running well with Rails 4.2. But i have opinion, that environments with large number of assets must have asset change watcher in the background.

[2016-07-18 00:00] rafaelfranca commented on #341
There is no support for watchers and we don't have plans to implement one.

[2016-07-18 00:00] #341 closed

[2016-07-18 02:06] merqlove commented on #341
Ok, i understand.
Rafael, please tell me, Sprockets 4 currently stable as 3.x? It is next major release?

[2016-07-18 02:11] rafaelfranca commented on #341
Sprockets 4 is the next major release, yes. It is not stable yet though.

[2016-07-18 13:32] RoxasShadow opened #342 "Allocated string report"
Could we `String#freeze` the URI components to avoid the too many string allocations?

i.e.
[code]

[2016-07-18 18:01] schneems commented on #342
In master we're using the magic comment https://github.com/rails/sprockets/blob/master/lib/sprockets/path_utils.rb#L1

Try out Sprockets 4 beta.

[2016-07-18 18:01] #342 closed

[2016-07-18 23:13] merqlove opened #343 "Fingerprint inside source-maps"
How to disable it?
Rails 4.2, Sprockets 4
It not disabling by `config.assets.digest = false`
[lib/sprockets/source_map_processor.rb#L26](https://github.com/rails/sprockets/blob/master/lib/sprockets/source_map_processor.rb#L26)

When debugging via source-maps we need original filenames, otherwise available only in-browser debugging mode, which is not so comfortable way. You don't need source-maps a

[2016-07-19 11:01] merqlove commented on #343
I think that with source map Sprockets can skip on fingerprints every file, instead add or not fingerprint for the manifest linked source file and/or its source map.

[2016-07-19 18:47] merqlove opened #344 "Source-map refresh question"
How to setup it right for guaranteed source-map refresh?

Currently i have new branch of Rails 4.2 with Sprockets 4.0 beta2.

TL;DR
Repo with reproduce:
https://github.com/merqlove/sprockets4-source-map-bug

Added manifest file with source like this:

[code]

Also i have root `coffeescript` file:

[code]

And web folder index file:

[code]

**First time SourceMap processor generates right version

[2016-07-19 19:04] merqlove commented on #344
Yes, it is.
I've added `raise "SOMETHING ..."` inside `source_map_processor.rb` and its not failed on changes.
But `coffee_script_processor.rb` is ok, it's failed with the same.

[2016-07-19 19:38] merqlove commented on #344
Seems that something with cache.
Because i see map changes in coffee processor.

[2016-07-19 21:16] merqlove commented on #344
![Script works well, as it updated, look console.](https://cloud.githubusercontent.com/assets/18354/16966234/a9ecfa6a-4e14-11e6-9e52-2cbe7ff1f88d.png)

![Map is old](https://cloud.githubusercontent.com/assets/18354/16966237/b1649136-4e14-11e6-8bc0-97dcd9a0fd16.png)

So here screenshot and repo with reproduce:
https://github.com/merqlove/sprockets4-source-map-bug

[2016-07-20 03:30] satishchhibba commented on #283
Sorry, I didn't check this for the past 2 weeks
I wasn't being very careful in my post earlier- I should have said sprocket-rails 3.1.1

This may be the wrong thread for this issue as it manifests on sprocket-rails -- though I believe that this cache issue is probably core sprocket and not rails specific.

This week, I created a fresh VM with debian with 4.16 kernel and ruby 2.3  rails 5.0 + postg

[2016-07-20 14:22] schneems commented on #283
Run `$ rails new` then add what ever files you need, put sprockets 3.6.x in the gemfile, once you reproduced the problem go to github.com make a new project push your example app to the github project, when you're done open a new issue and link to the github project.

Please quit responding on this thread, it is detracting from the original issue.

[2016-07-20 14:55] schneems commented on #341
I'm not opposed to the idea, but maybe we could instead implement hooks to reset caches and then let other libraries like Rails take care of the file watching. Either way there's no immediate plans for either option. I might come back to it in the future but there's way too much house cleaning that needs to be done first.

[2016-07-20 15:03] schneems commented on #343
I don't understand what the problem is. Can you give me an example app that reproduces the problem along with a description of what you were expecting and what you got instead?

[2016-07-20 15:18] merqlove commented on #343
@schneems It can be same app as is my next issue: https://github.com/merqlove/sprockets4-source-map-bug

1. Currently, every element inside source-map has it's own fingerprint.
2. Every time some element is charged, it's fingerprint inside the map too updating(with bug #344, but it is current logic of Sprockets site-maps).
3. If you want use any debugger like WebStorm, RubyMine, ... with your sour

[2016-07-21 01:37] merqlove commented on #341
Yeah, first Sprockets 4 must be stable as rock :)

[2016-07-22 11:32] mihai-dinculescu opened #348 "Registered transformer not called"
I'm trying to register a transformer without much luck. It is simply not called.

     # transformer
    class MyTransformer
      def self.instance
        @instance ||= new
      end

      def self.call(input)
        instance.call(input)
      end

      def call(input)
        { data: '#TRANSFORMED#' + input[:data] }
      end
    end

    # registration
    require 'sprockets'
    Sprockets.

[2016-07-22 12:38] schneems commented on #348
Can you give me an example app?

[2016-07-22 13:40] mihai-dinculescu commented on #348
Never mind, it works just fine :)

When registering as an engine, `assets['javascripts/hello']` used to return the processed version.

After the change to `register_transformer`, `assets['javascripts/hello']` returns the unprocessed file and I have to do `assets['javascripts/hello.js']` in order to access the processed result.

[2016-07-22 13:47] #348 closed

[2016-07-27 22:11] samandmoore commented on #242
We're seeing this issue in production running on `jruby 1.7.24 (1.9.3p551)` with puma 2.15.x. We're actually encountering it when we use the `image_tag` helper and it dives down into sprockets to locate an asset (yes, we have the sprockets runtime enabled in production at the moment).

when you said:

Do you mean that we should consider configuring rails to use a different cache backend? e.g. `con

[2016-07-28 21:28] jejacks0n commented on #183
So the solution for Teaspoon is to remove all .coffee files from asset paths, *even though* those coffee files are never required or referenced? This is what I'm seeing as I debug the issue.

[2016-07-31 00:43] sweetppro opened #353 "ActionView::Template::Error ("\xA3" on UTF-8):"
I get this strange crash in my Rails 4.2.6 & 5.0.0 apps when I use sprockets 3.6.2,3.6.3 or 3.70. 3.6.1 works just fine?

heres a stack trace:
[code]

[2016-08-01 16:56] schneems commented on #353
Please provide an example app that reproduces the problem. This will save maintainers time so they can spend it fixing your issues instead of trying to build a reproduction case from sparse instructions.

To create an example app, make an application locally that uses your same version of Sprockets. Add files to reproduce the problem. Once you've reproduced the problem add instructions on how to r

[2016-08-01 17:53] levilansing commented on #353
@sweetppro I think I ran into this a few weeks ago, seems extremely familiar. My problem was that I had a JS file with comments containing invalid UTF-8 sequences. `Mart�nez` to be exact. previous versions of sprockets didn't mind, but 3.6.3 was not having it. I fixed the file and all was good.

[2016-08-02 15:20] sweetppro commented on #353
@levilansing you were right, it was a bad .js file.
:)

[2016-08-02 15:20] #353 closed

[2016-08-02 15:31] schneems commented on #353
I think we should open up an issue. These types of problems should be easier to find and fix. The backtrace points at your view, while the problem was in a JS asset. Maybe this is covered by #335 but i'm not sure. If this is common enough to happen to the two of you (and i've seen it in the wild as well) then it is common enough to give a good error (if possible) on.

Glad you got things working,

[2016-08-04 16:47] schneems commented on #242
I'm fine with this fix. Can you send me a PR and i'll merge it?

[2016-08-11 00:10] CyborgMaster commented on #242
I've been struggling with what appears to be the same the same bug.  I see it when trying to run javascript test using konacha with the `rake konacha:run` command.  I only see it when using Puma as my webserver (probably because it's a multithreaded webserver).  I don't seem to see it during development, only when running javascript tests.  I tried changing the sprockets cache backend like this:
[

[2016-08-11 02:34] CyborgMaster commented on #242
Sometimes, while using @elia's patch, I'll get this error.  I think it's related.
[code]

[2016-08-12 14:39] Strech commented on #266
@rafaelfranca Do you think that it's a good idea to remove all processors of a given class in case of the class name given? Want to have your approval, before taking action.

[2016-08-12 23:28] rafaelfranca commented on #266
@Strech yes, I think it is acceptable.

[2016-08-15 13:50] Strech commented on #317
@miguelalarcos I think you miss the most important part about `opal-browser` – it has to be presented in your Gemfile

[code]

[code]

And the rest is the same as in your repo. I've added [working example for you here](https://github.com/Strech/example-opal-sprockets/commit/48177ffa8480f4c64ed482d43d5e983b4653f092)

[2016-08-15 13:51] Strech commented on #317
@miguelalarcos If this issue is solved, can you close it?

[2016-08-15 16:17] Strech commented on #344
I will try to debug and fix it (I hope, that I can find a solution or point to the root cause)

[2016-08-15 16:41] merqlove commented on #344
@Strech
Example, how SourceMap can look out from Webpack:
![screenshot 2016-08-15 19 31 42](https://cloud.githubusercontent.com/assets/18354/17671526/7ebbcfc8-6328-11e6-829b-249c661b194b.png)

[2016-08-15 16:51] schneems commented on #157
If you have example apps that show source maps not working correctly can you open separate tickets and link example apps?

[2016-08-17 10:08] rubyonrails3 opened #364 "Sprocket 4.0 development stopped?"
I wanted to try to ES6 on my rails project as including webpack is bit of pain with Rails project.. and I came across Sprock 4.0 and tried beta version it seems to work but it makes each request very slow. and I've also seen there is no update for about 6months. Is Sprocket 4.0 development halted and is there a way to try newest build which is not 6 month old?

[2016-08-17 12:25] Strech commented on #344
@merqlove I've succeeded with reproducible failure in tests. Hopefully, I will nail this issue 😲

[2016-08-17 15:17] schneems commented on #364
No, but development is slow. I spent a long time working with sprockets 3.x to add deprecations so people can prepare for sprockets 4 upgrade.

No, what is on master is the latest. I run it in production. I believe Shopify does as well. To get Sprockets 4 across the line we need more bug reports and data. Sprockets 4 was not completed when the maintainer left, so we're having to figure out everyth

[2016-08-17 15:22] rubyonrails3 commented on #364
@schneems  Just double checking we can't do `import MyClass from 'myclass'

[2016-08-17 15:24] schneems commented on #364
I've got no idea. I haven't implemented any of the es6 stuff myself. We lean heavily on babel, so anything babel can do we should be able to do as well?

[2016-08-17 15:27] rubyonrails3 commented on #364
I can't use `import` syntax in 3.x.x version of sprocket as I'm working with Rails 5 but if I try beta I can use import syntax though.

[2016-08-18 18:40] schneems opened #366 "Re-compile file when environment variable changed"
We need some kind of way for sprockets to evaluate an environment variable so that it knows when it needs to recompile files.

Problem: Currently if you have an asset that looks like this:

[code]

And you modify `HOME_LOGO` then sprockets won't see a change on disk so it won't know to re-compile the asset.

Suggested solution:

We could add a directive, something like

[code]

Or maybe `depends_o

[2016-08-18 18:48] bogdanRada commented on #231
I have a similar problem , considering the code below, although i have a transformer registered for

``` .scss.erb``` seems that instead of calling first the ErbProcessor and then preprocessor ,
the preprocessor is called first, and it receives the erb file, which should not happen, or am i missing something? This only happens with sprockets 4.0.0.beta2.

[code]

Or maybe i am missing the point of

[2016-08-18 23:24] ibrahima commented on #157
I don't know if this is relevant, but I was just trying Sprockets 4 beta 2 with Rails 4. I set up a manifest.js and my app appears to work, and while I can access http://localhost:3000/assets/application.js.map , my actual application.js does not have a sourceMappingUrl comment anywhere. Is there something I need to do to enable it in Rails 4? Unfortunately I can't link the source because it's for

[2016-08-18 23:51] rafaelfranca commented on #366
Haha. @bouk just implement this in sprockets-commoner. I think he will send a PR later.

[2016-08-18 23:54] rafaelfranca commented on #366
Wait the PR is already here #365. @schneems is there something that it doesn't solve that you have in mind?

[2016-08-19 00:40] matthewd commented on #366
We could have a method that means "depend on the value of this parameter"...

[code]

Then if any such call is encountered, we evaluate the erb (only) on this particular asset whenever we need to check its dependencies. That's about the only workable approach I can think of that matches the power of ERB with something that can actually invalidate it.

It seems to work *conceptually* -- erb is alwa

[2016-08-20 09:08] lifeiscontent commented on #156
@matthewd @schneems @rafaelfranca  any updates on this? Is this working as expected? I seem to be having the same issue, but inside of a middleman app using sprockets.

[2016-08-22 18:25] matthewlehner commented on #156
Just tested this morning. Still experiencing this in Rails 5 with Sprockets 4 beta.2, however, it _seems_ to be fixed on master.

Perhaps another beta version could be released to get this working?

[2016-08-25 15:31] schneems commented on #364
If something isn't working that you think should, please open an issue and attach an example app so I can debug it first hand.

[2016-08-25 15:31] #364 closed

[2016-08-25 15:36] schneems commented on #157
You shouldn't have to manually add a source map comment. It should just work "TM".

Please, if you have example apps that show source maps not working correctly  open separate tickets and link an example app.

[2016-08-25 15:43] schneems commented on #366
I think i'm leaning towards having `ENV['some_value']` auto add an env dependency to an asset for this case. While it's special casing ENV, i don't really see many people manipulating assets via other means (globals, constants, thread locals). I think I want to solve this case out of the box i.e. someone who has never used sprockets before doesn't know they have to add a magic comment to get it to

[2016-08-25 16:16] #344 closed

[2016-08-25 16:16] schneems commented on #344
Thanks for this repro case, it made verifying the fix way easier. Thank you all for your detailed bug report and for fix.

[2016-08-25 17:09] schneems commented on #156
I released master with a few other fixes for 4.0.0.beta3. Give it a whirl. Let me know if the issue comes back.

[2016-08-25 17:09] #156 closed

[2016-08-25 17:11] #266 closed

[2016-08-25 17:25] merqlove commented on #344
Thanks! Seems it works. Tested on staging project.

[2016-08-25 17:31] matthewlehner commented on #156
@schneems Thanks so much! 😻

Just watched your RailsConf talk about inheriting Sprockets and loved it. Thanks for the work on the 4.0 release so far!

[2016-08-25 18:34] CyborgMaster commented on #242
I've been working on the `no implicit conversion of Set into Array` crash and I'm not getting anywhere.  Anyone have any thoughts?

[2016-08-25 19:06] Strech commented on #296
@bradgreens I will try to pick it up 😸

[2016-08-25 19:42] CyborgMaster commented on #242
I tried the following patch instead of the one provided by @elia, and it seems to solve both the `can't add a new key into hash during iteration` and the `no implicit conversion of Set into Array` bugs.

[code]

[2016-08-26 20:40] gilesbowkett commented on #182
This is fixed.

I created an example app which confirms that the bug was real in v3.0.1, as requested, and also that it's gone as of the current version, 3.7.0.

https://github.com/gilesbowkett/example-182

[2016-08-26 21:42] rafaelfranca commented on #182
Thank you so much @gilesbowkett for doing the investigation!

[2016-08-26 21:42] #182 closed

[2016-08-27 05:07] gilesbowkett commented on #209
I dug into this a tiny bit. PR #370 shows an awful hack which gets rid of the problem for the example app. The goal of the PR is not actually to be accepted, just to show what I found. TLDR: `@content_type` isn't getting set correctly.

[2016-08-27 17:29] merqlove commented on #343
@schneems hi, here some explanation

## Hard to use (because these fingerprints in the filenames inside SourceMap always changes...)
### Sprockets SourceMap
![Sprockets map](https://cloud.githubusercontent.com/assets/18354/16966237/b1649136-4e14-11e6-8bc0-97dcd9a0fd16.png)

## Easy to use
### Webpack SourceMap (no fingerprints in filenames)
![Webpack example map](https://cloud.githubusercontent.co

[2016-08-29 17:06] schneems commented on #231
I have a little more info.

If you change the file name to `jsx-coffee-file.coffee` then it works. When you change it back you can see that the comments are being removed by the time they get to the directive processor.

I used your example and would build assets using:

[code]

Then I did a `bundle open sprockets` and added some puts to the directive processor

[code]

This is the output you get

[2016-08-29 17:10] rmosolgo commented on #231
Thanks for taking a look and sharing your steps! I'll try the same thing and look at the react-rails code to see if I can find it.

[2016-08-30 09:43] chlebta opened #373 "Adding load path"
### Expected behavior

In my `application.js` I'm trying to add `/= require` file that exist in different directory then `javascript`  folder
### Actual behavior

I get always

### System configuration
- Sprockets version : 3.6.2
- Sprockets-rails version : 3.0.4
- Ruby version : 2.3.0
- Rails version : 5.0.0.rc1
### Example App

This is my `application.js` :
`//= require datatables/dataTables.boo

[2016-08-31 12:10] jcoyne commented on #73
Wondering if it makes sense to have a dependency on babel-transpliler give the maintainer is not upgrading it to the latest version of Babel (see https://github.com/babel/ruby-babel-transpiler/issues/288). I haven't yet looked at this library, but it seems like it may be a promising alternative: https://github.com/fnando/babel-schmooze-sprockets

[2016-09-01 21:48] gilesbowkett commented on #373
I believe this is a non-issue.

@chlebta I created an example app here based on your description:

https://github.com/gilesbowkett/sprockets-373-example

I couldn't figure out your meaning when you said "the link of the folder I'm trying to add." definitely go ahead and fork my example and send a PR if you want to clarify that.

however, I think you won't need to.

the [readme](https://github.com/

[2016-09-02 08:05] JIucToyxuu opened #375 "Register processor for last extension from chain of extensions"
### Expected behavior
Hello guys! I'm use mercurial code version control. When mercurial found merge conflict - he will create copy of original file with extensions '.orig'. This files can have chain of extensions(like .js.orig). I need ignore this files on assets compile process.

### Actual behavior
Earlier, i'm was use next code for ignore this original mercurial files on assets compile process

[2016-09-03 22:00] ysyyork opened #377 "Fingerprint for erb appended assets"
My use case is, I have a js config file which will use rails setting variables. So I embedded a ruby statement in my js file and append the file with .erb extension. It works well for the first time, but when I change the variables, this js file cannot be re compiled, or technically it re compiled with the same fingerprint digest and when serving to browser, browser find the digest is the same as

[2016-09-03 22:04] ysyyork commented on #377
Find a same issue here[https://github.com/rails/sprockets/issues/366](url), I will close this. Thanks

[2016-09-03 22:04] #377 closed

[2016-09-03 22:14] ysyyork commented on #366
I agree with @matthewd . my use case is that I'm using the non-env variable in js, so adding env dependency is not a good solution for me. Adding a syntax to explicitly declare the dependency seems much more flexible.

[2016-09-06 18:53] schneems commented on #373
I made this PR but never got it over the line https://github.com/rails/sprockets/pull/322 would show you all the load paths when you get an error.

Is this still an issue? Did you get it working?

[2016-09-06 19:58] schneems commented on #366
@ysyyork can you give me some example code that shows the exact problem you're hitting? There may already be an existing API to handle your case.

[2016-09-06 20:46] schneems commented on #209
Is this related to https://github.com/rails/sprockets/issues/231#issuecomment-243187921 ? I think we're maybe not registering something quite right or perhaps the order that things are happening isn't what they should be. In that case the comments were being stripped before it ever got to the JSX code.

[2016-09-06 21:25] rmosolgo commented on #209
Seems like it must be! In both cases, it's `react-rails` + `@content_type` issues.

I haven't had a chance to dig in because I know it will be a deep dive 😞 . The [JSX processor](https://github.com/reactjs/react-rails/blob/master/lib/react/jsx/processor.rb) itself is so simple, it implements the `.call(input :: Hash) :: String` API.

In terms of registering itself, it's [gotten a bit messy](https:

[2016-09-06 22:05] schneems commented on #327
So...i'm not sure what's going on here. I tried to repro this failure and i'm not able to.

I have a file foo.scss then in console

[code]

Weird.

[2016-09-07 02:42] ysyyork commented on #366
Hi @schneems, thanks. Sure. So here is a snippet of my code. In a js file with path app/assets/javascripts/config.js.erb like this
`
var aSettingsVariableThatShouldBeUsedLater = <%= Settings.variable %>

var useThisSettingsVariable = aSettingsVariableThatShouldBeUsedLater + "/test"
`

Here I use the Config gem (https://github.com/railsconfig/config) to set environment variables. Then when I do pre

[2016-09-07 04:26] matthewd commented on #366
Yeah, while I'm now convinced it's worthwhile to special-case ENV so that it completely Just Works, I still think we should do the thing I described to support arbitrary expressions. There's a reason we boot the whole application when compiling assets, after all.

---

I suspect there might be some selection bias at play there.

For ENV-users, we can meet that goal with #365. But given we're expos

[2016-09-07 16:08] schneems commented on #366
I agree we should have a generic API for supporting this case.

[2016-09-07 20:29] ysyyork commented on #366
Great to hear. But for current usage, is there any workaround? Now every time I change ENV variables, I have to manually increment the version number in assets.rb so that all the assets can be re-precompiled. But this is really time consuming cus all the assets will be re-precompiled.

[2016-09-08 10:09] NekoNova opened #380 "Tests failing due assets not being in the pipeline"
### Expected behavior

I expect my tests to succeed without throwing an error that `application.js` is not part of the assets pipeline.

### Actual behavior

I'm in the process of upgrading to the latest sprockets 3.7.0 version.
I've fired up the application locally after setting the new configuration options for the application:

[code]

The application itself works fine. I can browse to any page

[2016-09-08 10:20] NekoNova commented on #380
okay,

this can be closed.
The problem is related to `sprockets-rails` which already has an issue open for Teaspoon to work on this

[2016-09-08 10:20] #380 closed

[2016-09-08 14:00] bouk commented on #366
What we've been doing at shopify is extending DirectiveProcessor:

[code]

If you then have a file that reads some sort of config, you can do `//= depend_on_file config/settings.yml` and the file would be recalculated if the file changes (although the way the settings are loaded does need to support reloading.

ENV is a special case, because its values aren't dependant on a certain file, which is

[2016-09-08 15:46] schneems commented on #366
Great call on

[code]

Between that and env var detection I can't think of a case where we can't detect the variable change.

There are edge cases where the env var may be coming from a file in a gem where sprockets might not know how to easily find it. But it would still technically be possible.

[2016-09-14 11:15] vincentwoo commented on #366
@bouk I basically use the same depend on file config in my app, but I don't have the last mile to auto-update the in-memory object when the YAML changes. Do you have a recommendation for that?

[2016-09-15 18:42] bouk opened #383 "validate_processor_result! takes up a lot of time"
We're working on porting Shopify to Sprockets 4, and I was looking into a big increase in compilation time. Currently compiling all the assets takes about 3x as long as on sprockets 3

I discovered that `validate_processor_result!` takes up 20% of the total compilation time.

Here is a stackprof for a cache-cleared complete compilation of all the assets in Shopify

![image](https://cloud.githubuse

[2016-09-16 08:05] rmacklin opened #384 "Using register_mime_type and register_transformer instead of the deprecated register_engine leads to unnecessary compilation of files not in the precompile list"
### Expected behavior

Per the Asset Pipeline rails guide (http://guides.rubyonrails.org/asset_pipeline.html#precompiling-assets - permalink [here](https://github.com/rails/rails/blame/47db952bf6938da78092096336d14c23b974a44c/guides/source/asset_pipeline.md#L722-L734)):

Thus, I expect sprockets not to precompile files that compile to JS.

### Actual behavior

Using `register_mime_type` and `regis

[2016-09-16 14:36] rafaelfranca commented on #384
Are you using the manifest file to configure the precompile list? This is happening because the default precompile list get all files that are not `.js` and `.css` and include in the precompile list.

[2016-09-16 16:55] rmacklin commented on #384
Are you asking if I have an `app/assets/config/manifest.js` file? If so, the answer is no.

That seems contradictory to the note in the Rails guide:

`application.css` and all non-JS/CSS files (this will include all image assets
automatically) from `app/assets` folders including your gems:
[code]
_NOTE: The matcher (and other members of the precompile array; see below) is
applied to final compiled

[2016-09-16 20:00] schneems commented on #383
I had some PRs that made this a little better. Here's the first PR https://github.com/rails/sprockets/pull/312

I'm not 100% sure, but I think we're accidentally "validating" the processor results twice, since all results will eventually be passed through "digest" and digest converts known classes to a digest, and raises an error on everything else https://github.com/rails/sprockets/blob/99444c0a2

[2016-09-16 20:00] schneems commented on #383
btw josh doesn't work on this project anymore.

[2016-09-16 20:44] rafaelfranca commented on #384
Yeah, that is exactly what is expected. `coffee` and `scss` files are also in the precompile list but register_engine doesn't use the mime type to compile files. Once it starts to use the mime type, if a file with that mime type is inside the precompile list it will be precompiled.

I recommend you to use the manifest file instead of precompile.

[2016-09-16 20:44] #384 closed

[2016-09-16 22:56] rmacklin commented on #384
Can you clarify what you are referring to by "that"? Are you saying that it's expected that when you change a sprockets plugin from using the deprecated `register_engine` to the new methods  `register_mime_type` and `register_transformer` it will have the side effect that unnecessary files will start getting compiled in applications that use the plugin? That seems really undesirable.

It's good to

[2016-09-17 00:20] rafaelfranca commented on #384
Yeah, that is exactly what is expected. If the mime type is found in the
precompile list the transformer will be called.
On Fri, 16 Sep 2016 at 19:56 rmacklin <notifications@github.com> wrote:

[2016-09-17 01:10] rafaelfranca commented on #384
It is not a regression, if there is a transformation registered and there
is a valid transformation target in the precompile list that transformation
should run.

This is the main difference between an engine and a transformation
On Fri, 16 Sep 2016 at 21:28 rmacklin <notifications@github.com> wrote:

[2016-09-17 08:38] rmacklin commented on #384
I must be misunderstanding you. I want the files to be transformed to ES5. What I don't want is for them to be precompiled individually (only as part of application.js, or wherever they are `//= require`d) when they have not been added to the precompile list. This works with no issues (other than deprecation warnings) using `register_engine`. Upgrading to the replacements of `register_mime_type` a

[2016-09-17 15:53] schneems commented on #384
First of all, thanks for the bug report and the example app, it was very easy to repro with your instructions.

I can confirm that the example app compiles `thing.es6` even though it's not on the precompile list. It looks like `legacy.rb` is iterating over all contents in `app/assets/javascript` even if it's not in the precompile list https://github.com/rails/sprockets/blob/84a90b182a3ac71c23cff26

[2016-09-17 20:23] rmacklin commented on #384
Thanks a lot for the detailed reply @schneems. I really appreciate it.

Yeah, I noticed that.

I don't either, but when I was debugging yesterday I gathered a bit more information that may help. I ended up at the same `LOOSE_APP_ASSETS` filter and `Sprockets::Base#logical_paths` method you linked and here's what I noticed:

When `register_engine` is used, `logical_path` that gets passed to the `LO

[2016-09-17 20:24] rmacklin commented on #384
As for the "realtalk",

This is true, but I'm actually not able to use either sprockets-es6 or sprockets 4. The reason is that both rely on the `babel-transpiler` gem which is stuck on Babel 5, which doesn't support babel plugins (even if it supported Babel 6, the gem would need significant rearchitecting to support arbitrary plugins, which are implemented as individual npm packages).

So I actual

[2016-09-19 14:18] DerekStride commented on #383
@schneems If it is the case that the digest alone is sufficient, I was working with @bouk last week to optimize that as well, seeing as how that took a lot of time too. I forked sprockets and have a PR up where I rewrote `DIgestUtils#build_digest` in C to see if I could get better performance.

You can check out the [PR](https://github.com/DerekStride/sprockets/pull/1) if you're interested.

[2016-09-19 14:39] schneems commented on #383
The digest is doing the exact same work, so it is sufficient. What I haven't done is gone through and proven that all results from the processor are guaranteed to go through the digest function. I'm guessing they will, but I need to prove it before we kill any code.

Interesting work with the c-extension. I don't think I would ever make sprockets a gem with a native extension, however i'm not agai

[2016-09-19 14:42] bouk commented on #383
@schneems I think a big thing is the way the type switch works, because there's quite a bit of overhead with the Hash-proc thing that Sprockets does right now for every thing in the value that is to be digested. I agree that having a separate C extension is a good idea

[2016-09-19 15:15] tenderlove commented on #383
I'll poke at this again, but IIRC we need to stop handling so many types for the digests and switch to polymorphism.  Last time I poked at it I had an idea but it wasn't 100% backwards compatible.  I'll try to post a patch that isn't backwards compat, but we can at least look at the results.  @bouk thanks for reporting this!

[2016-09-19 15:17] schneems commented on #383
Here is the PR where we switched to this recursive hash https://github.com/rails/sprockets/pull/320 which gave me 16% asset generation in code triage.

[2016-09-19 17:08] schneems commented on #383
I think we are building digests out of the hashes that represent an asset, these contain arrays, strings, other hashes etc. I can be available for questions, ping me on campfire. I don't have all the answers but hopefully can help.

[2016-09-22 14:30] schneems commented on #384
Got it. I'm not up with all the babel libs, would love to see what yours looks like when it's ready.

[2016-09-22 19:24] danshultz commented on #157
@ibrahima I am also experiencing the line numbers being off. They are currently off by 2 lines exactly across the entire source. I'm working on trying to identify why this is but thought I would ping you to see if you happened to identify anything around this.

[2016-09-22 22:50] CyborgMaster commented on #242
Another note about my above patch.  It seems to work great at preventing the errors, but sometimes seems to get stuck for some reason and I have to kill the process.

[2016-09-29 20:52] danshultz opened #388 "Sprockets Semicolon insertion causes sourcemap to be off by (n) number of lines"
### Expected behavior

When using sprockets with source maps, it's expected the sourcemap lines up with the original source.
### Actual behavior

Each source file will be off by (n) number of lines based upon the order it was appended and the (n) number of semicolons inserted.

The semicolons are inserted [here](https://github.com/rails/sprockets/blob/55b8c832c2ba021a7f25282f71789bf085b4b990/lib/s

[2016-09-29 20:55] danshultz commented on #388
I started to look into this a little more but was unsure what a correct solution should be.

I wondered if we could change the way semicolon addition works to simply append a semicolon on the last line of the JS file and omit the extra newline.

If someone has a thought on how to address this, I'll work on a PR

[2016-09-30 13:20] #317 closed

[2016-10-03 14:57] schneems commented on #388
Inserting on the same line seems fine

[2016-10-04 20:52] #284 closed

[2016-10-07 00:45] amalrik commented on #375
Why you need to keep those orig files?
why you can't solve the conflicts and then remove the .orig extension?
Sorry if I failed to understand your needs, but i think ignore conflicts could lead to bigger problems than you might think first place.

[2016-10-07 13:27] JasonSi commented on #366
I am meeting the same issue. I use a variable of model attribute from database, in a file whose name ends with '.scss.erb'.
So the method 'depend_on' seems not fit me. What I want is an API for triggering a recompiling by some ruby codes in Models or Controllers.
Anyone can help me? Thanks.

[2016-10-07 17:28] yivo commented on #366
I have the same issue.
I use sprockets ERB processing to embed momentJS locales.
`moment.js.erb`:
[code]

When I change `I18n.available_locales` this will not be recompiled.
It will be very cool feature if we'll able to depend asset on ruby code not just on other assets, files, env...
`//= depend_on_value moment_locales_state`

[code]

[2016-10-08 10:42] SamSaffron commented on #388
I wonder if the semicolon appending is even needed these days...

[2016-10-08 13:02] danshultz commented on #388
Thanks for posing that question @SamSaffron - I had wondered about that as well...especially since we are ensuring there is a newline before concatenating now which was not the case previously.

https://github.com/rails/sprockets/blob/44b48d505820e578c01167a0a081f05814402ccc/lib/sprockets/safety_colons.rb

Anyone have thoughts/opinions if this is still necessary?

[2016-10-10 03:26] justqyx commented on #298
@SamMolokanov  Thanks for your idea, I'd like to take an experiment in the sandbox env of my project. Hope it can resolve the complication requirement of over 3000+ small files.

[2016-10-10 15:47] schneems commented on #298
I made it so that compression is provided by an "extractor" you can unregister the current extractor and write your own with custom logic to skip any assets you want. Check out https://github.com/rails/sprockets/pull/386 for more info.

[2016-10-10 15:47] #298 closed

[2016-10-10 15:48] schneems opened #393 "Add extractor to guides"
Need to add docs for "extractors" from https://github.com/rails/sprockets/pull/386 to guides.

[2016-10-10 15:50] schneems commented on #17
Going to close this as somewhat inactive. I got a lot of improvements from switching to bootscale https://github.com/byroot/bootscale. If you have new ideas that can be implemented to speed up boot without sacrificing stability please open up a new issue, i'll be happy to dissect and debug with you.

[2016-10-10 15:50] #17 closed

[2016-10-10 15:51] schneems commented on #136
I finally got a physical windows machine. Is this still an issue?

[2016-10-10 15:51] #52 closed

[2016-10-10 15:52] schneems commented on #54
We need to parallelize here, that's a long way off until Sprockets 4 can stabilize. Going to close this for now.

[2016-10-10 15:52] #54 closed

[2016-10-10 15:58] schneems commented on #75
I documented this "index.js" behavior. Maybe we can do more to notify conflicts. If you have ideas please open up a new issue.

[2016-10-10 15:58] #75 closed

[2016-10-10 16:00] schneems commented on #137
Happy to take a patch here. Otherwise it's been over a year, going to close.

[2016-10-10 16:00] #137 closed

[2016-10-10 16:02] schneems commented on #157
Please try out master, it has a few new fixes. Otherwise if anyone comes across source maps not working please open up a new issue. I need to be able to gauge how stable master is. I want to work on releasing an RC and eventually 4.0.0 we can't do that without pretty decent source map support. I appreciate all your feedback, you've all helped tremendously. Please give it another go with master and

[2016-10-10 16:02] #157 closed

[2016-10-10 16:03] schneems commented on #117
Is this a thing we still need to do? I now have a deprecation scheme in place in master and we are emitting deprecations. Does someone want to work on this? Can you give me a PR?

[2016-10-10 16:04] schneems commented on #161
Going to close this for now. If there's still something that needs to be worked on please ping me. I would absolutely love an example app that reproduces the problem.

[2016-10-10 16:05] schneems commented on #75
Realized this is slightly different from what I documented. Can you please check with Sprockets 4 to see if this is still an issue? If so I can re-open. Please provide an example app that reproduces the problem.

[2016-10-10 16:11] schneems commented on #169
Still an issue

[code]

[2016-10-10 16:18] schneems commented on #169
The issue still exists in sprockets 3 but is resolved in master, please use the Sprockets 4 beta. If you want to find and backport the fix in a PR, i'll be happy to merge

[2016-10-10 16:18] schneems commented on #75
The issue still exists in sprockets 3 but is resolved in master, please use the Sprockets 4 beta. If you want to find and backport the fix in a PR, i'll be happy to merge

[2016-10-10 16:18] #161 closed

[2016-10-10 16:22] schneems commented on #75
And...because no one gave me an example app, i'm finding out that it is broken on Sprockets master, but there was an error with the bug repro instructions in the other issue. Going to comment on other linked  issue for now.

[2016-10-10 16:23] schneems commented on #169
And...because no one gave me an example app, i'm finding out that it is broken on Sprockets master, but there was an error with the bug repro instructions.

[2016-10-10 16:37] schneems commented on #75
Wanted to comment here too:

Okay the issue is that you're asking for an asset `favico.js` and that asset does not exist on disk anywhere. There are two other assets that do exist, a `favico.js.js` and a `favico.js/favico.js`

![](https://www.dropbox.com/s/qs7ek8yhcoa779n/Screenshot%202016-10-10%2011.28.30.png?dl=1)

Right now we have a few options.

1) The author of that lib can add an `index.js`

[2016-10-10 16:43] schneems commented on #177
Here i'm getting a different error

[code]

Using sprockets master.

We could add a special case check to see if the file exists but is unreadable or not valid for some other reason (permissions etc)

I'm going to keep this issue open but change the title. Original title "mention missing path when sprockets can't find an asset". We're already working on that, however if I view that path I see the

[2016-10-10 16:45] schneems commented on #231
@rmosolgo you had a chance to dig into this any more?

[2016-10-10 16:46] schneems commented on #209
Think I want to close this in favor of #231 since it has the debugging thread.

[2016-10-10 16:46] #209 closed

[2016-10-10 16:47] schneems commented on #42
This still happening in 3.x or master of sprockets?

[2016-10-10 16:47] #42 closed

[2016-10-10 16:50] schneems commented on #216
@joshjordan yep, seems reasonable. Going to close this issue for now. Please send over a PR and i'll try to help get it over the line.

[2016-10-10 16:50] #216 closed

[2016-10-10 16:50] schneems commented on #245
Tru

[2016-10-10 16:52] schneems commented on #248
We resolved that issue on sprockets-rails. Is this still a concern? Do you still have a need tof clearing the cache on clobber?

[2016-10-10 16:52] #248 closed

[2016-10-10 16:57] schneems commented on #252
Ugh, I only merged that behavior into 3.x and not into master. There is a branch I need to get green on tests first #322.

[2016-10-10 21:40] daniel-rikowski commented on #136
Welcome to the Dark Side 😉

I can no longer reproduce this from a Rails application.

After reporting this issue I've circumvented it by using a non-threaded server, so I can't actually tell when and why it changed (lots of updates happened, Windows, Antivirus, Ruby, Sprockets, ....)

On the other hand my self-contained demo no longer raises Errno::EACCES, instead it seems to just freeze (deadlock

[2016-10-10 21:57] vincentwoo commented on #157
@schneems, it's super hard to test master because i have no idea which gems need to be updated. is there a guide on how to take a rails 4.2 project to master sprockets without everything mysteriously exploding? ill try to make a repro case but its hard to tell where to even start

[2016-10-10 22:18] schneems commented on #157
If you're already running the beta (you have to to get source maps, it's pretty easy to upgrade, put this in your gemfile and `bundle install`:

[code]

Master is only a few commits ahead of the 4.0 beta

[2016-10-10 22:18] vincentwoo opened #394 "Rails.application no longer available in sprockets assets"
### Expected behavior

I have an existing `foo.coffee.erb` file that does this in sprockets 3:

[code]

### Actual behavior

On master sprockets, I get: `undefined method 'application' for Sprockets::Rails:Module`. This is after many attempts to diagnose an even more cryptic `NoMethodError - undefined method 'env' for Sprockets::Rails:Module:`. I did not get the "real" error message until I delete

[2016-10-10 22:21] schneems commented on #394
Thats weird that it would expect that to be under the `Sprockets` namespace. Try using `::Rails.application.secrets.some_var` instead. Also doing that is not going to end well, unless you also add that variable to your sprockets cache key, otherwise if you change it your assets won't get updated.

[2016-10-10 22:22] vincentwoo commented on #394
What is the recommended path for getting `secrets.yml` data into precompiled assets?

[2016-10-10 22:25] vincentwoo commented on #394
Also, this is probably a big thing that should be added to the upgrade readme, imo. Tons of asset erb code out there that has stuff like

[code]

[2016-10-10 22:36] schneems commented on #394
You need to do something like

[code]

Then when the file changes, sprockets knows so your assets re-compile. This isn't a change with Sprockets 4, this is how all versions of sprockets work (regarding the cache)

[2016-10-10 22:38] vincentwoo commented on #394
Oh, we do that already, but it doesn't work in sprockets 3 either, because Rails doesn't reload the actual in-memory variable when you change the yml file, so it almost doesn't even matter.

The question was, more specifically, how do you *get* the data from secrets.yml *into* a precompiled file. Rails loads secrets.html into Rails.application.secrets.

[2016-10-10 22:40] schneems commented on #394
You would do it like you did, but make sure you've got the depend on declaration and you're good to go.

[2016-10-10 22:45] danshultz commented on #157
@vincentwoo - as a note, if you find your sourcemaps off by a few lines, I would check https://github.com/rails/sprockets/issues/388

[2016-10-10 22:54] vincentwoo commented on #157
@danshultz i'm finding that with some files in my bundle the source maps appear to not even be able to find the correct file. i'll file a separate issue

[2016-10-10 23:00] vincentwoo opened #395 "Source map appears to be unable to find correct file"
### Example App

https://github.com/vincentwoo/sprocketstest

You should simply be able to checkout, `bundle install`, and `rails s`. Visit `localhost:3000` in chrome with debugger tools open
### Expected behavior

There's a file called `test.js` that just has `debugger` written in it. Chrome should show that when debugging.
### Actual behavior

For some reason, the two files included above `test.

[2016-10-11 00:40] matthewd commented on #394
Ughh... do we not produce a useful backtrace for erb files? I thought we did. 😕

---

@bouk I suspect we broke this in #365

[2016-10-11 14:00] bouk commented on #394
Yeah, it seems the change to use `engine.result(context.instance_eval('binding'))` made it so that `Rails` is now resolved to `Sprockets::Rails`. I'll get a PR up to fix this

[2016-10-11 14:36] bouk commented on #394
I don't have any ideas on how to fix this actually... It seems unlikely that there's a way to define and enable access to the `ENV` constant on the class, while resolving any other constants that are also in the context of that class the the top-level variant. Any ideas @matthewd @schneems?

[2016-10-11 15:44] schneems commented on #394
It definitely broke in #365 . I'm toying with it right now, but i'm at somewhat of a loss currently. Going to revert, and add a test for accessing top level constants. Hopefully we can figure something out

[2016-10-11 16:19] schneems commented on #394
I tried writing a failing test, but this passes even with the ENV patch

[code]

[2016-10-11 16:33] bouk commented on #394
For that to fail, there would have to be a Sprockets::Sass constant that doesn't have the VERSION constant

[2016-10-11 17:59] schneems commented on #394
Interesting, didn't realize that was the failure mode. Thanks.

[2016-10-12 15:54] #394 closed

[2016-10-12 19:00] danshultz commented on #395
This is related to #388 - you'll note the number of lines off are related to the number of semicolons inserted causing it to point to the "application.js" file.

Note how https://github.com/vincentwoo/sprocketstest/blob/master/app/assets/javascripts/sql.js#L413 does not include a trailing semicolon (yes after the comments :sad:). So, sprockets will shove another one in with a newline.

You'll note

[2016-10-12 22:10] guilleiguaran commented on #73
I worked with @Liceth updating sprockets-commonjs to sprockets 4.x, the processor is this: https://github.com/Liceth/sprockets-commonjs/blob/sprockets-4/lib/sprockets/commonjs.rb,

The modules can be used like this:

[code]

[code]

I think this can be an acceptable default solution for this since it works without requiring Node.js/NPM in the system like other alternatives.

[2016-10-12 23:55] vincentwoo commented on #395
Okay, I'm happy to close this as a dupe of #388

[2016-10-13 15:12] schneems commented on #395
Thanks for the issue. Re-opening to look at both example apps. Thanks for the report!

[2016-10-13 15:15] schneems commented on #136
I'm constantly hitting the windows key by accident thinking it's CMD. It's like re-learning how to computer all over again.

Thanks for the reply. I'll keep the issue open, it might be some time before I can come back to it though.

[2016-10-13 18:04] TylerHorth commented on #343
I've been looking into this one. I think it's safe to remove fingerprints from sources since the source map processor adds fingerprinted source uri's to the links metadata attribute which will update the maps fingerprint. That being said, we will still require the `.source` pipeline suffix so the files aren't processed by sprockets when the browser requests them.

I'll hopefully have a branch up s

[2016-10-13 19:30] Zhomart opened #401 "Sprockets with babel-transpiler is being slow"
Every time I change my "*.es6" code, next refresh on the browser takes 16-17 seconds.

Sprockets: 4.0.0.beta3 (revision a9c6525) [master]
sprockets-rails: 3.2.0
Rails: 4.2.7.1
Ruby: 2.3.1p112

I've traced little bit, but I cannot understand what's going on.

I've put some "prints" in `lib/sprockets/loader.rb` and changed one "survey_it.es6" and refreshed browser twice.

Hope it helps tracing issue

[2016-10-13 19:46] schneems commented on #366
Are you keeping your locales in a yml file or in a database? If it's a file you can depend on the file.

I'm interested to get use cases for non-file based values in assets. I18n stored in a database seems like a valid use case, however then you have the problem of if you change a value, it won't be updated in your assets until the next time you deploy.

[2016-10-13 19:49] schneems commented on #375
In sprockets 4 (there is a beta released) you have to explicitly declare full asset extensions (like `.js.orig`) so I would be surprised if it tried to compile these assets. Can you try it with the beta and if it still happens can you give me an example app that reproduces the problem?

[2016-10-17 15:01] #393 closed

[2016-10-18 17:27] gmhawash commented on #74
I am seeing this issue with Sprocket 2.0.0.  I just added a new server to my EC2 stack and they are ending up with different names for the variables.  Are there any fixes for this?

[2016-10-20 13:51] solipet commented on #242
Seeing the same in Rails 5.0.0.1, ruby 2.3.1, puma 3.6.0.  Dropping puma to 1 thread did fix it.

Of course, now that I try to recreate the error, it's playing nice so I lost the stack trace, but it was in set.rb, line 153.  I'll post if it reoccurs.

[2016-10-25 21:09] TylerHorth opened #409 "Add config option for memory cache size"
It's hardcoded [here.](https://github.com/rails/sprockets/blob/a270576b32d82f7a62ff2dcd82cd979cb777ffb9/lib/sprockets/cache.rb#L70)

Shopify was seeing ~5 second page load times after upgrading to sprockets 4. Doubling this value return load times to ~600ms.

I don't know if this extra memory use and the thrashing that resulted from it are just due to the extra source map metadata, or if something

[2016-10-25 21:09] TylerHorth opened #410 "Only compile source maps in the debug pipeline"
Currently in sprockets 4 source maps are compiled in the default pipeline alongside everything else, then source map comments are appended in the debug pipeline.

This causes a massive performance degradation when compiling assets, even when source maps aren't being used. Shopify saw compilation time go from 1m10s to 7m20s when upgrading to sprockets 4. Stripping out source map logic from sprocket

[2016-10-28 14:52] woodall opened #412 "My first 5 minutes"
@schneems, Just finished watching your [inspiring talk](https://www.youtube.com/watch?v=qxaE8yblHPk). The first thing I did with my 5 minutes was start reading the last 20 or so [closed commits](https://github.com/rails/sprockets/issues?q=is%3Aissue+is%3Aclosed) to see what kinds of activity is actually happening and determine if I would be able to help. Thanks for giving us ideas for ways to help

[2016-10-31 01:36] vincentwoo commented on #410
Ah, well, I think a lot of us will want source maps in prod for debugging. I suppose the question becomes: opt-in or opt-out? Probably decent arguments to be made either way.

[2016-10-31 08:38] PikachuEXE commented on #84
I just reran `rake sprockets:benchmark` 3 times per branch
with latest `sprockets` (see versions in headings below)

## sprockets 2.12.4
1500 lookups of the same asset took 0.238217
1500 lookups of 1500 different assets took 9.4763

1500 lookups of the same asset took 0.254395
1500 lookups of 1500 different assets took 9.344158

1500 lookups of the same asset took 0.25907
1500 lookups of 1500 diff

[2016-10-31 14:23] schneems commented on #412
🚀

[2016-10-31 14:23] #412 closed

[2016-10-31 14:45] bouk commented on #388
@danshultz yeah the newline stuff isn't necessary, just appending a semicolon should be OK. Appending them is still needed I think, as not adding a semicolon at the end of the file is fairly common and valid JS.

[2016-10-31 18:56] TylerHorth opened #413 "Sprockets 4 performance regressions"
## Overview
Sprockets 4 is presently several times slower than its predecessor. Shopify saw compile time go from 1m to 7m, and page load time go from 600ms to 5000ms. This will need to be addressed before we can expect wide scale adoption.

### Cause
This regression seems to be in large part due to source map generation. Hacking away source map logic returns Shopify's compile and page load times b

[2016-11-01 12:52] 412andrewmortimer opened #414 "Potential Ruby Sass Deprecation"
### Expected behavior

Sprockets should(?) continue to support Sass.

Now I'm not in this project, but I just read that Ruby Sass will be deprecated within 1 year if unmaintained. And to me that seems pretty impactful to this project.
Source:  http://blog.sass-lang.com/
.

### Actual behavior

Ruby Sass is being potentially being deprecated.

[2016-11-01 12:59] 412andrewmortimer commented on #414
This also may be kind of weird.

https://github.com/sass/dart-sass/issues/14

[2016-11-01 13:36] guilleiguaran commented on #414
I don't think Rails team have enough bandwidth to take the maintenance of Ruby Sass, if no one wants to maintains it in the future we can make [sassc-ruby](https://github.com/sass/sassc-ruby) (that is already supported by Sprockets) the default for Rails users.

Also we can explore the integration with dart-sass package through ExecJS/Node in the future.

[2016-11-01 13:38] TylerHorth commented on #410
@vincentwoo Could you explain your use case in a bit more detail? How are you using source maps without source map comments? Are you uploading them to a bug tracker?

[2016-11-01 13:50] TylerHorth commented on #388
We need to be careful to ensure there is a newline between the two files when they are concatenated. Otherwise the last line of the first file and the first line of the second file will get appended onto the same line and break source maps.

It will need to check if the file ends in a newline, and append the semicolon before the newline, otherwise append a semicolon + newline.

[2016-11-01 16:46] 412andrewmortimer commented on #414
Both of those sound like good ideas. At the least [sassc-ruby](https://github.com/sass/sassc-ruby) will available immediately. And if/when the ExecJS/Node bridge needs to be crossed it can.

[2016-11-01 18:18] schneems commented on #84
So here's the deal. Sprockets 3 is MUCH faster at looking up an individual non-cached asset because of the way caching changed between 2 and 3. In Sprockets 2 the individual assets are cached, which is not all that useful unless you're using the same asset a ton. In that case it is much much faster in sprockets 3. However if you need different assets, it is really slow. In Sprockets 3 we cache ent

[2016-11-01 18:57] schneems commented on #409
Can you give me a PR to set it from an env var?

Would love ideas of ways we could add more information here. Maybe a debug mode to show when you're hitting max memory or getting close would be cool.

Should check on Heroku, I think we only have 512 memory in the container building your app which might be part of the speed problems.

[2016-11-01 19:07] vincentwoo commented on #410
yup: https://docs.sentry.io/clients/javascript/sourcemaps/

[2016-11-01 22:31] richpeck opened #415 "manifest.js for gems / engines?"
### Expected behavior

I included a gem's assets in its `/app/assets/../[gem_name]` folders.

Previously, I added `config.assets.precompile << %w(exception_handler/**)` to the Engine and the assets were precompiled successfully.

### Actual behavior

When I use it today, the error response is:

``` Error during failsafe response: Asset `exception_handler.css` was not declared to be precompiled in

[2016-11-02 11:14] speckins commented on #263
I have an issue in a Rails 5 application with a filename containing a "+" sign.  The asset 404s on the URL generated by Sprockets but works if I replace the "+" with "%2B".

@schneems Why was this issue closed?  Was it fixed?

[2016-11-02 14:05] schneems commented on #263
No example app

[2016-11-02 15:28] speckins commented on #263
https://github.com/speckins/sprockets-example-app/tree/issue-263

[2016-11-03 01:15] blanchma opened #416 "NameError: uninitialized constant Sprockets::SafetyColons"
### Expected behavior

In previous version, I could unregister SafetyColons.

### Actual behavior

NameError: uninitialized constant Sprockets::SafetyColons

### System configuration

- 3.7.0
- MRI 2.2.0

### Example App

Rake::SprocketsTask.new do |t|
  environment = Sprockets::Environment.new( File.expand_path(File.dirname(__FILE__)) )
  environment.unregister_postprocessor 'application/javascri

[2016-11-03 02:03] gilesbowkett commented on #410
this might be a duplicate of https://github.com/rails/sprockets/issues/413. it's definitely related.

[2016-11-03 02:18] gilesbowkett commented on #416
I expanded this out into a full example app here:

https://github.com/gilesbowkett/sprockets-issue-416

it uses Rails 4.2, since you said you're on Ruby 2.2.0, and Rails 5 requires 4.2.2.

I saw the same error you did, I'm just setting this up as a convenience for the maintainers.

[2016-11-03 02:20] blanchma commented on #416
Thanks. I'm running this in a Cuba (almost vainilla Rake).

[2016-11-03 02:29] gilesbowkett commented on #416
fwiw, I don't think Sprockets uses the `SafetyColons` processor any more. I couldn't find it anywhere in the source.

there is a `lib/sprockets/utils.rb` file with a `string_end_with_semicolon?` method, though, and there's also an `"appends missing semicolons"` test in `test/test_asset.rb`. So my guess is the `SafetyColons` functionality got moved somewhere else.

[2016-11-03 02:36] gilesbowkett commented on #416
also, removing the implementation of `string_end_with_semicolon?` causes 85 test fails. that's about all I know at the moment.

[2016-11-03 21:15] schneems commented on #383
@bouk coming back to your comment on refinements, guess I didn't really read too closely. I re-worked it to be a more-indicative object (one from jquery-rails) and to use benchmark-ips. Thanks for your comment, wish I had investigated more when you posted. Here is the gist:

https://gist.github.com/schneems/8c69779766f1ab46a5a262a24de95dba

[code]

Turns out refinements are WAYYY faster than the c

[2016-11-04 00:59] schneems commented on #383
Here is a PR with some promising results #416

I get these numbers:

[code]

Based on this refinements is faster than the current hash (8-16% in a real world assets:precompile app), but there is a high variance.

[2016-11-04 17:39] TylerHorth commented on #409
This issue is throwing me for a loop.

The cache size is bound by the [number of items](https://github.com/rails/sprockets/blob/a62c02556216ac7e3b0f09257b02cace439e280b/lib/sprockets/cache/memory_store.rb#L20-L21), not the amount of memory. Doubling the number of slots solved the issue, so clearly we're simply running out of space.

This would make sense since in sprockets 4 we have to also store

[2016-11-04 17:53] TylerHorth commented on #416
It looks like `SafetyColons` was removed [sometime after sprockets 2](https://github.com/rails/sprockets/blob/2.x/lib/sprockets/safety_colons.rb).

@blanchma Could you explain your use case, why do you want to unregister it?

Semicolon insertion currently needs to be reworked, as it is breaking source maps [#388]. It may be the case that the solution to that fixes your issue?

[2016-11-04 18:40] TylerHorth commented on #415
From what I can tell, rails adds load paths for each directory of a gems assets folder. So you should just be able to put your manifest in, for example: `/gem_name/app/assets/config/gem_name/manifest.js`. (note the `gem_name` subfolder, so there isn't a naming conflict.)
Then, consumers can link to it from their manifest: `//= link gem_name/manifest.js`.

Let me know how this turns out.

[2016-11-08 00:03] aledalgrande commented on #179
@choonkeat there is discussion about this in #282

[2016-11-08 07:25] headius commented on #383
JRuby results on your benchmark.

[code]

And here's the MRI results:

[code]

[2016-11-08 16:33] schneems commented on #383
Thanks! Refinements seems to be faster all around.

[2016-11-08 22:34] eregon commented on #383
@schneems It seems you read the numbers wrong, refinements are actually the *slowest* of the 3 on JRuby.

[2016-11-09 07:03] schneems commented on #383
Ah, i did. Ugh. Thanks.

[2016-11-11 09:33] PikachuEXE opened #420 "Sprockets::FileNotFound raised for compass partial SCSS file in 4.0.0.beta4"
### Expected behavior

It should be able to resolve the file

### Actual behavior

Error raised since sprockets unable to find the file
`Sprockets::FileNotFound - couldn't find file '/users/pikachuexe/.rvm/gems/ruby-2.3.1/gems/compass-core-1.0.3/stylesheets/compass/_support.scss'`

### System configuration

- Sprockets version
  `4.0.0.beta4 `
- Ruby version
  `ruby 2.3.1p112 (2016-04-26 revision

[2016-11-12 04:42] dgynn commented on #383
Since the `ADD_VALUE_TO_DIGEST` Hash uses Classes as keys it can be sped up by using `.compare_by_identity.rehash`. That also works for the other Hashes that use integers or classes as well (`DIGEST_SIZES` and `HASH_ALGORITHMS`).

Here is a fork of the `refinement_bench.rb` gist that adds a benchmark for that which shows Hashes (with compare_by_identity) nearly as fast as Refinements, 50% faster t

[2016-11-14 23:17] tjouan commented on #42
I observe same issue in sprockets 3.7.0. Never understood why using
JPEG became problematic some time ago, and just avoided doing it until
now.

    Sprockets.register_mime_type 'image/jpeg', extensions: %w[.jpeg .jpg .jpe]

  Workaround issue with JPEG, but not a real solution for any mime
type with more than one filename suffix registered. Not very nice too.

  In my case, code responsible for f

[2016-11-16 20:29] tomprats opened #421 "[Guides] Code from Extending Sprockets Guide produces error within Gem"
Using this code from the [extending sprockets guide] in my gem

[code]

I get an error within [register_config_processor] when starting my rails server with the gem.

I created a new [rails app] that reproduces the issue. It's just a new app that I added a [gem] to. The [gem] is made up of the example code from the guide.

Versions: Ruby 2.3.1p112 and Sprockets 3.7.0

[extending sprockets guide]:

[2016-11-16 21:25] tomprats commented on #421
I created a [working version], but I'm not sure if it's bad because it's requiring so much more

[code]

Let me know if you want me to create a pull request to change the example. Otherwise I'm here to further troubleshoot the original

[working version]: https://github.com/tomprats/sprockets-cjsx/blob/sprockets-test-alt/lib/sprockets-cjsx.rb

[2016-11-16 21:46] schneems commented on #421
It could be useful to make this extension actually do something? Ideally we could even have a test for it and could update the test if the docs ever get updated. I think we want the guide code to be runable.

[2016-11-16 21:58] tomprats commented on #421
There's an example before it that just adds a comment to the css. This one could be updated to just continue that. Should I add a new test file like test_guides.rb? And just add a test case for each block of code in the guides?

Additionally I've run into a problem adding a preprocessor for `text/coffeescript`. Using the same code but with a different mime type it's not getting run. Should I open

[2016-11-17 04:39] hesongGG opened #422 "images in manifest.js error"
Hi, My rails4 app was upgrade to the rails5.
However, I'm deploy it have a issue
[code]

Error:

I'm try to clear the manifest file content. Then to run:
[code]
it works.

Then keep try it, I found that this error is caused because the
[code]

But , it work's fine with the Rails4.

Some current version
[code]

Now, I was deal with it use sprockets(3.7.0).
The above error， was a bug?

[2016-11-17 19:28] tomprats opened #423 "Coffee and SCSS preprocessors not getting called when used in Gem with Rails"
### Expected behavior

I expect the Gem for Coffee to raise an error when the App for Coffee tries to transform the test.coffee to javascript. I have the same code but for CSS and using a CSS test file that does raise an error.

### Actual behavior

The preprocessor doesn't get called in the Coffee example, but does in the CSS example. I added a SCSS example and it looks like it doesn't get called

[2016-11-18 07:44] PikachuEXE commented on #420
Sample app created:
https://github.com/PikachuEXE/rails_sprockets_issue_420

[2016-11-21 03:37] michaelherold commented on #420
**tl;dr**

The `chosen-rails` gem works on `sprockets-3.7.0` but not on `sprockets-4.0.0.beta4` or the `master` branch. I can't diagnose why the paths aren't loaded properly in Sprockets 4 but did verify that the sample works in 3.7.0 with no modifications. Below is a recounting of what I did for those who want to follow up. My hypothesis is that something changed with dependency path management i

[2016-11-21 20:19] senid231 commented on #420
same issue

app/assets/config/manifest.js
[code]

app/assets/stylesheets/application.scss
[code]
page render fails
[code]

`ruby 2.3.1`
`rails 4.2.7`
`sprockets 4.0.0.beta4`

[2016-11-22 01:12] PikachuEXE commented on #420
@senid231
I think it's just due to you link `application.scss` instead of `application.css` inside `manifest.js`
Should be a different issue
This issue is about compass (I think)

[2016-11-22 09:56] richpeck commented on #422
Same for me

[2016-11-22 22:37] richpeck opened #424 "link_tree causes NoMethodError: undefined method 'split' for nil:NilClass"
### Expected behavior

Calling `link_tree ./x` will include all items of directory in precompilation

### Actual behavior

`NoMethodError: undefined method 'split' for nil:NilClass` shows once rake hits a certain point. I have not discerned the specific cause of the issue.

### System configuration

- Sprockets versi 4.0.0-beta4
- Ruby version 2.3.1

### Example App

I don't have an example app -

[2016-11-22 22:39] richpeck commented on #415
I fixed this in the end by using the `link_tree` directive inside the CSS file, which I explicitly added to the precompile queue. Because `link_x` directives are available in both `3` & `4` versions of `Sprockets`, this seemed to work:

https://github.com/richpeck/exception_handler/blob/master/lib/exception_handler/engine.rb#L19
https://github.com/richpeck/exception_handler/blob/master/app/assets/

[2016-11-22 22:39] #415 closed

[2016-11-23 00:02] glebm opened #425 "asset-data-url SVG: encode via URL escaping instead of base64"
While SVG images *can* be encoded as base64 in CSS, but it is more efficient to encode them directly.

This is a feature request for sprockets to do the same in https://github.com/rails/sprockets/blob/a9c65250f46429912dbbab2859dcb08bb5c32f95/lib/sprockets/context.rb#L199, maybe implemented like this:

[code]

(implementation based on https://github.com/ai/rails-sass-images/blob/852a33364d86f478847

[2016-11-23 08:16] richpeck commented on #422
The immediate hotfix is to reference [the following](https://github.com/rails/sprockets/blob/99444c0a280cc93e33ddf7acfe961522dec3dcf5/lib/sprockets/directive_processor.rb#L321):

This means you should look to call the following:

[code]

It's not the best solution but should get it working (for now).

[2016-11-23 09:25] brendon opened #426 "Images in engines: Asset was not declared to be precompiled in production."
### Expected behavior

Prior to upgrading to Sprockets 3 I had image assets within my engine's directory at locations like:

`assets/images/folder1/folder2/image.png`

These images would be automatically precompiled. Images were always automatically precompiled without having to specify them in the precompile list weren't they?

### Actual behavior

Now I get the error message:

Images nested deep

[2016-11-23 12:49] virsas commented on #353
i think i have this problem too. happening from version 3.6.2 upwards
ActionView::Template::Error ("\xEA" followed by "s" on UTF-8):

i checked all the files by creating the utf versions of them
for i in `ls -1`; do iconv -c -t UTF-8 < $i > $i.utf; done

and then i run diffs between the file and file.utf

that didnt give me anything. when i greped for "\xEA", i found it only in binary files , but

[2016-11-23 14:50] richpeck commented on #422
#427

[2016-11-23 14:51] richpeck commented on #424
# #427

[2016-11-23 14:58] richpeck commented on #426
You need to use [`link_tree`](https://github.com/rails/sprockets#the-link_tree-directive) to include the assets.

I recently had the same problem with a gem, and found that by explicitly including the CSS file in `config.assets.precompile`, I could call `link_tree` in the CSS file itself:

https://github.com/richpeck/exception_handler/blob/master/lib/exception_handler/engine.rb#L19
[code]

https:/

[2016-11-23 21:18] brendon commented on #426
Thanks Richard, that's strange hey? Is there a reason why images in the main applications assets/images (and recursively) are automatically added to the precompile list but the same isn't the case for engines? Does sprockets add a link_tree behind the scenes for the main applications assets/images directory?

I often don't have an associated css file in an engine, and these images are referenced f

[2016-11-23 21:58] richpeck commented on #426
I'm not sure why Engine assets are not added to the precompilation list.

I used to add all the images to `config.assets.precompile` but since Sprockets 3.7+ uses `manifest.js`, you're meant to let that call all the assets.

If you don't have any CSS file available, why not add the globbed filepath to your `config.assets.precompile` array?

[code]

---

If there is no other place to call the direc

[2016-11-23 22:02] brendon commented on #426
Ok, I've figured it all out. Searching through the `rails` repo for `link_tree` brought me to this:

https://github.com/rails/rails/blob/92703a9ea5d8b96f30e0b706b801c9185ef14f0e/railties/lib/rails/generators/rails/app/templates/app/assets/config/manifest.js.tt

Which tipped me off about the new `config/manifest.js` concept mentioned here:

http://eileencodes.com/posts/the-sprockets-4-manifest/

Yo

[2016-11-23 22:04] brendon commented on #426
Thanks again Richard, just saw your update. My method seems to be working well and operates the same way as the base application. I didn't realise one could pass a lambda to `config.assets.precompile`. I assume the application throws every file in the whole application at it to check if it should be a compiled asset?

[2016-11-23 22:05] brendon commented on #426
Oh, and the solution is moot given it's all about to change when manifest files come into force. On on Rails 4.2 so I'll just be careful not to upgrade sprockets again before Rails 5.0 :)

[2016-11-23 22:16] richpeck commented on #426
No problem, glad you got it working.

`manifest.js` is up in the air IMO. Best thing is to get it working for yourself then fix as things become more standardized.

Don't forget to close the issue if you fixed it!

[2016-11-23 22:32] brendon commented on #426
Thanks Richard, will do. Hope this helps others who encounter the same problem.

[2016-11-23 22:32] #426 closed

[2016-11-24 11:47] richpeck commented on #424
The error is caused when `resolve.rb` [fails to return `filename`](https://github.com/rails/sprockets/blob/master/lib/sprockets/resolve.rb#L37).

Because you've made the `uri` declaration conditional on whether `filename` exists, you can end up with a returned `nil` object. If you're then expecting `content_type` to be present on this object, the code will raise the `NilClass` error.

I am still i

[2016-11-25 20:40] richpeck commented on #422
The error is specifically that you've included a file with an unrecognized `mime_type`.

Do you have any `.md` files or other obscure files present in that directory?

[2016-11-27 00:23] tastycakeman commented on #242
Also seeing this with sprockets 3.7.0, rails 4.2.6

[code]

[2016-11-28 06:11] PikachuEXE commented on #410
I want source map in prod too (for error tracking, same as @vincentwoo)
Anything we can do to achieve that quicker?

[2016-11-29 21:38] tomprats commented on #421
I opened a new issue for the other problem https://github.com/rails/sprockets/issues/423

[2016-11-30 21:57] lessthanzero opened #428 "Trouble working with dot-notated filenames"
### Expected behavior

I am using [jekyll-assets](https://github.com/jekyll/jekyll-assets) (its pipeline is based on sprockets) for my website assets handling. I link js and css files in my template via `{% js example %}` liquid notation.

### Actual behavior

When I link `example.js` file, it works fine, but when I try to link something like `jquery.example.js` (`{% js jquery.example %}`) — file

[2016-11-30 22:06] schneems commented on #428
I use `jekyll-assets` too. Can you give me an example app that reproduces the problem?

[2016-12-01 00:05] yosefsun opened #430 "Circular dependency issues on js manifest files"
### Expected behavior

When adding a resource on the manifest file, if the resource is having a circular dependency issue - Sprockets should throw an exception with the relevant error.

### Actual behavior

Nowadays, when such circular dependency happens - no error is being thrown and segmentation fault occurs.

### Steps to reproduce

Setup a js manifest file that have circular dependency (for ex

[2016-12-01 01:41] schneems commented on #430
Can you give me an app that reproduces the problem please?

[2016-12-01 02:40] yosefsun commented on #430
@schneems I encountered that issue when installing [polymer-rails](https://github.com/alchaplinsky/polymer-rails) which extends sprockets to support polymer web components and others. I suspect the issue is still with sprockets since AFAIK the extension still uses the **path_to_asset** method supplied by sprockets.

If I'm wrong, please direct me to the right source of issue if you find any.

[2016-12-01 02:42] yosefsun commented on #430
@schneems if you would like to reproduce this issue, simply bundle install the polymer-rails, run rails g polymer:install and add the following line to your application.html manifest file :

//= require paper-button/paper-button

[2016-12-01 02:50] schneems commented on #430
I've played this game before, i always lose 😉 : https://speakerdeck.com/schneems/saving-sprockets.

![Please provide an example app](https://www.dropbox.com/s/woa4h08jwuobzgp/example-apps.gif?dl=1)

I usually spend maybe 30 minutes to an hour trying to reproduce a problem, which is 30 minutes to an hour less that I get to spend actually fixing issues 😬 . So huge ❤️❤️❤️ if you can throw it in a git

[2016-12-02 16:07] lessthanzero commented on #428
@schneems hi. Here's a sample repo mimicking my working project: https://github.com/lessthanzero/sample-jekyll

Clone it and run the commands from readme. By default, it works fine linking `pressure.js` (as seen in inspector), but if you uncomment `jquery.pressure` it all goes haywire.

[2016-12-02 16:26] schneems commented on #428
I couldn't get your program running

[code]

I tried to reproduce on my own app: github.com/schneems/schneems

Added a `assets/javascripts/jquery.example.js` then in my head added a `  {% js 'jquery.example.js' %}` and it worked just fine.

[2016-12-02 17:29] lessthanzero commented on #428
@schneems great, thanks, it helped me to narrow down problem a bit. Yes, it works fine when you add files to, say, `assets/js`. But breaks when you have bower distros inside `assets/bower/` and want to link files from distros: in that situation {% js bower-example %} works and {% js jquery.bower-example %} – don't.

Btw seems like you've faced some sort of problem with `bower` or `npm`, but neverm

[2016-12-05 12:40] vanso-hubsi opened #431 "NoMethodError - undefined method `set' for #<ThreadSafe::Cache:0x007f8514012fc0>"
### Expected behavior

No exception thrown

### Actual behavior

I just updated the gems of my Rails application. Now when I load the index page after having started rails server, I get the following exception:

[code]

I haven't found anyone else with this error, so I'm opening this issue.

### System configuration

- Sprockets version 3.6.3
- Ruby version 2.1.2

[2016-12-06 10:20] printercu opened #432 "Huge memory usage in 3.7"
Every call to `register_engine` allocates huge memory amount. I've got sample:

[code]

It shows that every registered engine adds at least 10k live heap slots, and this amount increasing.
There is branch for sprockets 4, it works fine and significantly faster.

Ruby version 2.3.

For comparison, preloaded rails app takes about 65k slots.

I'm not using sprockets directly, just noticed that memory

[2016-12-06 18:42] schneems commented on #432
Here's our docs on supporting multiple versions of sprockets https://github.com/rails/sprockets/blob/master/guides/extending_sprockets.md#supporting-all-versions-of-sprockets-in-processors

I would recommend using `memory_profiler` gem to see what is allocating so much stuff. Maybe we could clean it up.

[2016-12-06 19:10] printercu commented on #432
Ah yes, here is just the same thing which appeared in new version of slim-rails: https://github.com/rails/sprockets/blob/master/guides/extending_sprockets.md#registering-all-versions-of-sprockets-in-processors

Can you please tell, why do we need `register_engine` for sprockets3 if it's already deprecated? Can be this avoided, and only `register_preprocessor ` left?

[2016-12-06 20:11] printercu commented on #432
/ping @josh

Memory_profiler and git bisect bring me to this commit: 608532c906abaa07b48b97d5c3097f78fec87882

Most of allocations come from https://github.com/rails/sprockets/blob/v3.7.0/lib/sprockets/mime.rb#L119-L121. For it's hard to say what this code really do, and how it can be fixed. I've checked, that before this commit it still increases memory, but much more slower:

[code]

Here is upd

[2016-12-07 09:31] vanso-hubsi commented on #431
With some deeper investigation I found out that it was my own fault. I had the following old lines in my application.rb:
[code]
which I changed to
[code]
and now it works.

[2016-12-07 09:31] #431 closed

[2016-12-08 13:59] montague commented on #430
@schneems FWIW, I was unable to reproduce using the steps given by @yosefsun using a fresh rails 5 app.

I also attempted to reproduce using a vanilla rails app w/out polymer-rails here: https://github.com/montague/sprockets-circular-js-dep/tree/master/app/assets/javascripts

Hope this is helpful.

[2016-12-09 16:59] cshupp1 opened #436 "Can't compile assets at runtime"
### Expected behavior
Suppose in rails root I have the following file (rake_setup.rake)
[code]

My Rakefile is as follows:
[code]

If, from the command line at rails root, I run:
[code]

My assets compile as expected.

Further, suppose I add the file ./config/initializers/z_last.rb:
[code]
Tell us what should happen
When starting my server, it would be nice if all my assets compile upon launch/
##

[2016-12-12 11:34] RichardJECooke opened #437 "ES2015 supported?"
### Expected behavior

Contemporary Javscript like this should compile fine `App.View.DashboardOverview = class DashboardOverview extends App.View.Base {`

### Actual behavior

`Unexpected token: name (DashboardOverview) (line: 54518, col: 36, pos: 2516027)`

### System configuration

- Sprockets version `3.7.0`
- Ruby version `2.3.0`

### Example App

Our .js code works fine locally in all browse

[2016-12-12 12:35] RichardJECooke commented on #437
I think it might be Uglifier that doesn't support ES2015: https://github.com/lautis/uglifier

[2016-12-12 13:41] guilleiguaran commented on #437
ES6 is partially supported by Sprockets because Babel transpiles ES6 modules to CommonJS modules but Sprockets doesn't include an CommonJS environment for those modules.

To use ES6 you must add the `babel-transpiler` gem to your Gemfile and change the extension of the files from .js to .es6.

[2016-12-12 14:14] RichardJECooke commented on #437
Thanks. I don't want to transpile though, all our browsers support current Javascript.  When I tried adding the `babel-transpiler` gem and renaming `.es6` our now app builds correctly, but the output has bad syntax.

Is it possible to just leave our Javascript as is when bundling? Cos the browsers are all fine with it.

[2016-12-12 14:19] guilleiguaran commented on #437
Oh, in that case I think you might right about Uglifier.

You can try with Closure compiler instead of Uglifier to check if you have better luck with ES6 code: https://github.com/documentcloud/closure-compiler

[2016-12-12 15:20] RichardJECooke commented on #437
Even when I remove Uglifier from the build process I still get parsing errors on deploy.  I'll switch back to Coffee from ES6 for now, and move our project from Sprockets to Webpack/Browserify later. Thanks for your help today.

[2016-12-12 15:20] #437 closed

[2016-12-12 19:35] schneems commented on #383
Implemented the `compare_by_identity` patch in https://github.com/rails/sprockets/pull/439. I tried adding on more hashes like `VALID_METADATA_VALUE_TYPES_HASH` but didn't get any perf difference. I still think I want to just remove `valid_processor_metadata_value?` checks or make them opt-in somehow.

[2016-12-13 04:11] hesongGG commented on #422
Hi, I'm sorry to reply you so late.
I remember I solved this problem by lowering the sprockets version.
There is no ``` .md ``` files.

[2016-12-15 18:50] fauxparse commented on #420
I'm getting the same thing with `bourbon`. For now, a workaround similar to the one in #329 seems to work for me, at least in development, but it seems to be a problem with Sprockets, not just `chosen-rails` or `compass`.

[2016-12-16 18:22] TylerHorth commented on #413
Just a quick update on this:

Compressed source maps PR (#402) has been merged, which removed most of the Sprockets overhead for storing source maps.

The remaining time was mostly spent in the compilation step, particularly compiling coffee-script source maps. Disabling source-maps just for coffee-script brings compile time down from 220s to around 80s. Initially I had thought this problem was in

[2016-12-16 18:55] schneems commented on #413
@TylerHorth you're awesome, thanks! I also think being able to turn on and off the `valid_processor_metadata_value?` could be a nice perf bump https://github.com/rails/sprockets/issues/383 we are already essentially doing that same check when we run a processor result through the `digest_utils#digest` method, so I don't think we need to duplicate all that work.

[2017-01-03 20:13] mikeycgto commented on #410
Our team is also looking into generating source maps in production/staging for error reporting (via Airbrake).

For our particular case, we need to explicitly configure our error reporter with the source map locations and do not need to include source map URL comments in the minified results.

[2017-01-04 03:32] schneems commented on #410
im looking into some architectural changes that can hopefully make generating source maps optional, or rather only do them when requesting a debug asset.

Progress is slow though. I want to change how assets are loaded, the current implementation of "pipelines" is challenging to work with.

[2017-01-04 18:40] mikeycgto commented on #410
As far as source maps in dev with debug mode enabled goes, everything is working fine off of master (this is with a Rails v5.0.1 prject).

For production and staging we wanted to generate source maps without including the comment in the actual minified JavaScript files. Instead, we need to just tell our error reporter (Airbrake) about the map files.

To achieve this, we created a small Compressor

[2017-01-04 18:46] schneems commented on #410
Not sure here, but I think you should be able to do that directly inside of your JS file

[code]

I think that's how I would want to support the use case of generating a map file in staging/production, but i'm not 100% on that. What do you think?

[2017-01-04 19:48] vincentwoo commented on #410
I think that's fine, but I also don't particularly care about @mikeycgto's desire to not have the linking comment be present in the minified JS.

[2017-01-04 20:14] mikeycgto commented on #410
Thanks for the advice @schneems. Using the link directive works and is a lot cleaner than using a custom compressor.

We're indifferent to the source map comment being present in minified files. It's just for our particular use case we just need explicitly tell our error reporter about the source maps and, more importantly, have a public URL to provide to the reporter.

[2017-01-04 20:28] schneems commented on #410
Glad that worked. Now I just need to figure out how to decouple this ball of mud. One asset can generate up to four seperate files. The way we do it currently is by calling `load` from inside of `load`, via different "pipelines" and processors which is quite elegant and completely impossible to work with.

Here's the four case:

- foo.js
  - Load/Require dependencies
  - Concatenate dependencies
-

[2017-01-04 21:32] mikeycgto commented on #410
Certainly appreciate the work you've done! If I can find some time, maybe I can help pitch in somehow.

[2017-01-04 21:34] vincentwoo commented on #410
Yeah, can we pay money to make this go faster? Serious question.

[2017-01-04 21:55] gilesbowkett commented on #410
@vincentwoo I don't know re 💰 but based on @schneems saying

my guess is that automated tests and written documentation would both help. 😃

[2017-01-04 23:43] merqlove commented on #242
Same here, Rails 5.0.1, Ruby 2.3.3, Sprockets master,  i'm seen this one before many times.
What i can say.
Here is no dependency on single on multiple threads. I'm see this error on both server types, webrick, puma, puma single thread.
Also in my current project is just Rails dummy app with lots of frontend stuff.
So yes, Sprockets need time to update cache on changes.

[2017-01-05 18:56] schneems commented on #410
For the $$$ question, nothing comes to mind. These problems i'm hitting up against are larger than a contractor could solve in a few hours of work (which would be hundreds/thousands of dollars). Right now major changes require a deep and broad understanding of the codebase and how things get done. If a company really wanted to invest, I would prefer they dedicated an employee for X hours a week fo

[2017-01-05 20:32] mikeycgto opened #449 "Source map files are generating "sources" without digests while actual source files on disk include digest"
### Expected behavior

We are explicitly linking against some select source maps files for our error reporter ([see #410](https://github.com/rails/sprockets/issues/410#issuecomment-270450004) for more discussion). For example:

[code]

The `"sources"` array in the map JSON files should contain .source.js files with digests and match what is written to the disk. For example:

[code]

[code]

### Ac

[2017-01-05 20:32] mikeycgto commented on #449
As a small aside, perhaps the `asset_host` from the Rails asset settings can be used as the `sourceRoot` field in the source map file. The `sourceRoot` field is defined [here](https://github.com/mozilla/source-map/#consuming-a-source-map).

[2017-01-05 22:43] merqlove commented on #343
@TylerHorth, looks like state of current topic was resolved.
But, now filenames in the map has suffix `.source`.
Can we drop it at all? To have original names in map.

[2017-01-08 06:57] vincentwoo commented on #395
Hi, I think this may be fixed on master now! I'll leave it at your discretion to close, though.

[2017-01-10 15:45] mikeycgto opened #451 "Sprockets is raising Sprockets::FileNotFound for image assets that do exist"
### Expected behavior

Assets should compile successfully.

### Actual behavior

Assets are failing to compile on Heroku due to a `Sprockets::FileNotFound` error being raised. This seems to only happen on Heroku and does not happen locally (even when run locally with the staging or production environments set).

It only ever fails with images. Here is what our manifest.js looks like regarding imag

[2017-01-10 16:04] schneems commented on #451
Can you give me an app that reproduces the behavior?

[2017-01-10 16:12] mikeycgto commented on #451
Bumping `config.assets.version` in the Rails environment seemed to fix the issue. I wonder if its something with Heroku?

[2017-01-10 16:13] mikeycgto commented on #451
@schneems this is for our product SimplyBuilt, so unfortunately I cannot share the source :(

[2017-01-10 16:16] schneems commented on #451
I can't do much without an example repo. You can try to reproduce the problem with a simple app, it doesn't have to be __your__ app, just extract out the problem to a new repo. Replace sensitive images or logic with generic ones.

I also work for Heroku, so I can tell you if that's the issue. It's likely a problem with sprockets (of which i'm a maintainer). Need to reproduce the bug first though.

[2017-01-10 16:16] mikeycgto commented on #451
@schneems let me see if I can put together a sample Rails app and get it deploying to Heroku that reproduces this problem.

I understand what I am reporting here is extremely strange. It is very perplexing to us as well but we are committed to getting to the bottom of it!

[2017-01-10 17:37] mikeycgto commented on #451
Unfortunately, I haven't been able to create a sample application that reproduces this problem. I tried creating a new Rails app with a bunch of image assets and some CSS. After many minor changes and deploys no `Sprockets::FileNotFound` exceptions were raised and all the builds completed without issue.

As I mentioned above, bumping asset versions may be a possible workaround for us when this iss

[2017-01-10 22:04] mikeycgto commented on #451
It happened again on another deploy. Here our the results of our "hacky logs" branch from the sprockets fork:

[code]

Rather strange that the app/assets/images directory is not available. We added more `ls` calls and logging to further examine the problem.

Once again bumping asset versions resolved the issue. Unfortunately this was on our production environment so I couldn't try this again with

[2017-01-12 20:43] schneems commented on #451
I really can't help unless I can reproduce the behavior myself.

One guess is that every Heroku deploy happens at a different directory, maybe it's trying to load a file with a full path from the cache and the path is different.

[2017-01-13 16:56] mikeycgto commented on #451
Totally understand the need to reproduce this issue. It's very sporadic and seemingly random for us, so even reproducing it on our end is difficult.

Your suggestion sounds like it could explain this behavior. For whatever reason, Sprocket is trying to read files from paths that do not exist.

Feel free to close this issue in the meanwhile. I'm going to keep trying to get to the bottom of this and

[2017-01-13 18:01] akholodenko opened #453 "Setting up regex for manifest.js files"
### Expected behavior

I'm currently using Rails 4.2 and Sprockets 3.7.0. My assets.rb file has the following regex that precompiles page-specific manifests for JS and CSS files. The regex excludes any asset files that start with _ (underscore) or are in the _components directory.

Rails.application.config.assets.precompile << /^(?!_components)(?:.+\/)?(?!_)([^\/]*)\.s?css$/
Rails.application.conf

[2017-01-17 21:45] mikeycgto commented on #451
With more logging we're able to see the paths are definitely different. Here is the exception raised:

[code]

Meanwhile, if we `ls` the `/tmp` directory, we can see the build directory is actually:

[code]

With some more logging, I can see all the `uri`'s passed to `Loader#load`:

[code]

Digging a little deeper I see that all the images in the `to_load` Set from the primary asset's metadata in

[2017-01-17 22:57] rafaelfranca commented on #453
To make this work you will need to iterate through all the assets, filter than and in a loop call the `link` directive. You manifest file also needs to be an erb file.

[2017-01-17 22:57] #453 closed

[2017-01-19 05:42] PikachuEXE commented on #414
sassc-ruby is not supported in sprockets 3.x though :S
And 4.x is still in beta... (generating source map in asset precompile still missing)

[2017-01-19 06:18] PikachuEXE commented on #414
I think I can try to backport the sassc related classes (compressor and processor)
back to 3.x
Just not very sure what options should be used
Will submit a PR during Chinese new year (one week day off hehe)

[2017-01-19 17:21] schneems commented on #414
Sassc is the ideal future. It's faster, and libsass is maintained.

sassc-ruby has some edge cases on windows that I tried to get working, but ran into problems with.

There is a sass-c processor in Sprockets 4, but it doesn't totally work and needs sass-rails support. A good next step for helping could be to get Rails apps to use Sprockets 4 and the sass-c using built in processor along with a fo

[2017-01-19 17:34] mikeycgto commented on #451
Another workaround we've found when this issue arises is to run `heroku repo:purge_cache` from the heroku-repo plugin to clear the cache on Heroku. Deploys then succeed and assets compile successfully. That being said, we'll deploy once and then the next deploy will trigger this issue again.

Definitely seems to be something with the cache and incorrect roots.

[2017-01-19 17:51] schneems commented on #451
You can add a random value to your asset cache. This will cause cache invalidation every time you generate assets. Doesn't solve the root cause, which I can't help with without an example app...but it is better than manually clearing cache every time.